<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.CarrierDeliveryRangeMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.CarrierDeliveryRange">
        <id column="delivery_range_id" property="deliveryRangeId" jdbcType="DECIMAL"/>
        <result column="carrier_id" property="carrierId" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="list" resultType="org.o2.metadata.console.infra.entity.CarrierDeliveryRange">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        rel.delivery_range_id,
        rel.carrier_id,
        rel.OBJECT_VERSION_NUMBER,
        tl.carrier_name,
        rel.city_code,
        rel.region_code,
        rel.district_code,
        rel.country_code

        FROM
        o2md_carrier_delivery_range rel
        JOIN o2md_carrier c ON rel.carrier_id = c.carrier_id  and c.tenant_id = #{tenantId}
        left join o2md_carrier_tl tl on  tl.carrier_id = c.carrier_id  and c.tenant_id = #{tenantId}  and tl.lang = #{lang}
        <where>
            <choose>
                <when test="tenantId != null">
                    AND rel.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 =0
                </otherwise>
            </choose>
            <if test="deliveryRangeId != null">
                and rel.delivery_range_id = #{deliveryRangeId}
            </if>
            <if test="carrierId != null">
                and rel.carrier_id = #{carrierId}
            </if>
        </where>
    </select>
</mapper>
