<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.CarrierMappingMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.CarrierMapping">
        <result column="carrier_mapping_id" property="carrierMappingId" jdbcType="DECIMAL"/>
        <result column="platform_code" property="platformCode" jdbcType="DECIMAL"/>
        <result column="carrier_id" property="carrierId" jdbcType="DECIMAL"/>
        <result column="platform_carrier_code" property="platformCarrierCode" jdbcType="VARCHAR"/>
        <result column="platform_carrier_Name" property="platformCarrierName" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="carrierMappingVO" type="org.o2.metadata.console.api.vo.CarrierMappingVO" extends="BaseResultMap">
        <result column="carrier_code" property="carrierCode" jdbcType="VARCHAR"/>
        <result column="carrier_name" property="carrierName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listCarrierMappingByCondition" resultType="org.o2.metadata.console.infra.entity.CarrierMapping">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        cm.carrier_mapping_id,
        cm.platform_code,
        oct.carrier_name,
        c.carrier_code,
        oct.carrier_name,
        cm.platform_carrier_code,
        cm.platform_carrier_Name,
        cm.object_version_number,
        cm.creation_date,
        cm.created_by,
        cm.last_updated_by,
        cm.last_update_date,
        ptl.platform_name
        FROM
        o2md_carrier c
        JOIN o2md_carrier_mapping cm ON c.carrier_id = cm.carrier_id AND cm.tenant_id = #{tenantId}
        JOIN O2md_platform plat on plat.platform_code = cm.platform_code and plat.tenant_id = #{tenantId}
        left join O2md_platform_tl ptl on ptl.platform_id = plat.platform_id and ptl.lang = #{lang}
        left join  o2md_carrier_tl oct on oct.carrier_id = c.carrier_id and oct.lang = #{lang}
        where 1 = 1
        <choose>
            <when test="tenantId != null">
                AND c.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        <if test="platformCode!=null and platformCode!=''">
            AND cm.platform_code = #{platformCode}
        </if>
        <if test="carrierCode!=null and carrierCode!=''">
            <bind name="carrierCode" value="'%' + carrierCode + '%'"/>
            AND c.carrier_code LIKE #{carrierCode}
        </if>
        <if test="platformCode!=null and platformCode!=''">
            AND plat.platform_type_code = #{platformCode}
        </if>
        <if test="platformCarrierCode != null and platformCarrierCode != ''">
            <bind name="platformCarrierCode" value="'%' + platformCarrierCode + '%'"/>
            and cm.platform_carrier_code like #{platformCarrierCode}
        </if>
        ORDER BY cm.platform_code, c.carrier_code
    </select>
    <select id="listCarrierMappings" resultType="org.o2.metadata.console.infra.entity.CarrierMapping">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
               c.carrier_code,
               cm.platform_carrier_code,
               tl.carrier_name,
               cm.platform_carrier_name
        FROM o2md_carrier_mapping cm
        JOIN o2md_carrier c ON c.carrier_id = cm.carrier_id AND cm.tenant_id = #{tenantId}
        JOIN o2md_carrier_tl tl on tl.carrier_id=c.carrier_id AND tl.lang =  #{lang}
        where 1 = 1
        <choose>
            <when test="tenantId != null">
                AND c.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        <if test="platformCode!=null and platformCode!=''">
            AND cm.platform_code = #{platformCode}
        </if>
    </select>
</mapper>
