<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.CarrierMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.domain.entity.Carrier">
        <result column="carrier_id" property="carrierId" jdbcType="DECIMAL"/>
        <result column="carrier_code" property="carrierCode" jdbcType="VARCHAR"/>
        <result column="carrier_name" property="carrierName" jdbcType="VARCHAR"/>
        <result column="carrier_type_code" property="carrierTypeCode" jdbcType="VARCHAR"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="listCarrier" resultType="org.o2.metadata.console.domain.entity.Carrier">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        c.carrier_id,
        c.carrier_code,
        ct.carrier_name,
        c.carrier_type_code,
        c.OBJECT_VERSION_NUMBER,
        c.active_flag,
        c.tenant_id
        FROM
        o2md_carrier c
        left join o2md_carrier_tl ct on ct.carrier_id = c.carrier_id and ct.lang = #{lang}
        where 1=1
            <choose>
                <when test="tenantId != null">
                    and c.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="carrierId != null">
                and c.carrier_id = #{carrierId}
            </if>
            <if test="carrierCode != null and carrierCode != ''">
                <bind name="carrierCodeLike" value="'%' + carrierCode + '%'"/>
                and c.carrier_code like #{carrierCodeLike}
            </if>
            <if test="carrierName != null and carrierName != ''">
                <bind name="carrierNameLike" value="'%' + carrierName + '%'"/>
                and c.carrier_name like #{carrierNameLike}
            </if>
            <if test="carrierTypeCode != null and carrierTypeCode != ''">
                and c.carrier_type_code = #{carrierTypeCode}
            </if>
        ORDER BY carrier_code
    </select>

</mapper>
