<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.CatalogMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.Catalog">
        <result column="catalog_id" property="catalogId" jdbcType="DECIMAL"/>
        <result column="catalog_code" property="catalogCode" jdbcType="VARCHAR"/>
        <result column="catalog_name" property="catalogName" jdbcType="VARCHAR"/>
        <result column="catalog_remarks" property="catalogRemarks" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
    </resultMap>


    <!--batchFindByIds-->
    <select id="batchFindByIds" parameterType="java.lang.Long" resultType="org.o2.metadata.console.api.vo.CatalogVO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        c.catalog_code catalogCode,
        t.catalog_remarks catalogRemarks,
        t.catalog_name catalogName,
        c.active_flag activeFlag
        FROM
        o2md_catalog c left join o2md_catalog_tl t on c.catalog_id = t.catalog_id
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND c.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 =0
            </otherwise>
        </choose>
        <if test="catalogIds != null and catalogIds.size > 0" >
            and c.catalog_id IN
            <foreach collection="catalogIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>

        AND t.lang =#{lang}
    </select>
    <select id="listCatalog" resultType="org.o2.metadata.console.infra.entity.Catalog">
        select c.catalog_id,
        c.catalog_code,
        c.catalog_name,
        c.catalog_remarks,
        c.active_flag,
        c.object_version_number
        from o2md_catalog c
        <where>
            <choose>
                <when test="tenantId != null">
                    AND c.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>

            <if test="catalogCode!=null and catalogCode!=''">
                <bind name="catalogCode" value="'%' + catalogCode + '%'"/>
                AND c.catalog_code LIKE #{catalogCode}
            </if>
            <if test="catalogName!=null and catalogName!=''">
                <bind name="catalogName" value="'%' + catalogName + '%'"/>
                AND c.catalog_name LIKE #{catalogName}
            </if>
            ORDER BY c.catalog_code
        </where>
    </select>
    <select id="batchSelectByCodes" resultType="org.o2.metadata.console.infra.entity.Catalog">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        c.catalog_code catalogCode,
        t.catalog_name catalogName
        FROM
        o2md_catalog c left join o2md_catalog_tl t on c.catalog_id = t.catalog_id
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND c.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 =0
            </otherwise>
        </choose>
        <if test="catalogCodes != null and catalogCodes.size > 0" >
            and c.catalog_code IN
            <foreach collection="catalogCodes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>

        AND t.lang =#{lang}
    </select>
</mapper>
