<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.CatalogVersionMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.CatalogVersion">
        <result column="catalog_version_id" property="catalogVersionId" jdbcType="DECIMAL"/>
        <result column="catalog_version_code" property="catalogVersionCode" jdbcType="VARCHAR"/>
        <result column="catalog_version_name" property="catalogVersionName" jdbcType="VARCHAR"/>
        <result column="catalog_version_remarks" property="catalogVersionRemarks" jdbcType="VARCHAR"/>
        <result column="catalog_id" property="catalogId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
    </resultMap>
    <resultMap id="catalogMap" type="org.o2.metadata.console.api.co.CatalogCO">
        <result column="catalog_code" property="catalogCode" jdbcType="VARCHAR"/>
        <result column="catalog_name" property="catalogName" jdbcType="VARCHAR"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <collection property="catalogVersionList" resultMap="versionMap" columnPrefix="entry_" />
    </resultMap>
    <resultMap id="versionMap" type="org.o2.metadata.console.api.co.CatalogVersionCO">
        <result column="catalog_version_code" property="catalogVersionCode" jdbcType="VARCHAR"/>
        <result column="catalog_version_name" property="catalogVersionName" jdbcType="VARCHAR"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
    </resultMap>
    <select id="batchSelectByCodes" resultType="org.o2.metadata.console.infra.entity.CatalogVersion">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        c.catalog_version_code,
        t.catalog_version_name
        FROM
        o2md_catalog_version c
        left join o2md_catalog_version_tl t on c.catalog_version_id = t.catalog_version_id and t.tenant_id = #{tenantId} and  t.lang =#{lang}
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND c.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 =0
            </otherwise>
        </choose>
        <if test="catalogVersionCodes != null and catalogVersionCodes.size > 0" >
            and c.catalog_version_code IN
            <foreach collection="catalogVersionCodes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
    </select>
    <select id="catalogRelVersion" resultType="org.o2.metadata.console.infra.entity.CatalogVersion">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()" />
        SELECT
        cl.catalog_id,
        cl.catalog_code,
        cltl.catalog_name,
        cltl.catalog_remarks,
        clv.catalog_version_id,
        clv.catalog_version_code,
        clvtl.catalog_version_name,
        clvtl.catalog_version_remarks
        FROM
        o2md_catalog_version AS clv
        JOIN o2md_catalog AS cl ON clv.catalog_id = cl.catalog_id and cl.tenant_id = #{tenantId}
        LEFT JOIN o2md_catalog_version_tl AS clvtl ON clv.catalog_version_id = clvtl.catalog_version_id AND clvtl.lang = #{lang} AND clvtl.tenant_id = #{tenantId}
        LEFT JOIN o2md_catalog_tl AS cltl ON cl.catalog_id = cltl.catalog_id AND cltl.lang= #{lang} and cltl.tenant_id = #{tenantId}
        <where>
            <choose>
                <when test="tenantId != null">
                    AND clv.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1=0
                </otherwise>
            </choose>
            <if test="catalogId != null and catalogId != ''">
                AND cl.catalog_id = #{catalogId}
            </if>
            <if test="activeFlag != null ">
                AND clv.active_flag = #{activeFlag}
            </if>
            <if test="catalogVersionId != null and catalogVersionId != ''">
                AND clv.catalog_version_id = #{catalogVersionId}
            </if>
            <if test="catalogCode != null and catalogCode != ''">
                AND cl.catalog_code = #{catalogCode}
            </if>
            <if test="containMasterFlag ==0 ">
                AND cl.catalog_code <![CDATA[ <> ]]> 'MASTER'
            </if>
            <if test="catalogVersionCode != null and catalogVersionCode!= ''">
                <bind name="catalogVersionCode" value="'%' + catalogVersionCode + '%'"/>
                AND clv.catalog_version_code like #{catalogVersionCode}
            </if>
            <if test="catalogVersionName != null and catalogVersionName!= ''">
                <bind name="catalogVersionName" value="'%' + catalogVersionName + '%'"/>
                AND clvtl.catalog_version_name like #{catalogVersionName}
            </if>
        </where>
    </select>
    <select id="listCatalogAndVersion" resultMap="catalogMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()" />
        SELECT
        cl.catalog_code,
        cl.active_flag,
        cltl.catalog_name,

        clv.catalog_version_code as entry_catalog_version_code,
        clv.active_flag as entry_active_flag,
        clvtl.catalog_version_name as entry_catalog_version_name
        FROM
        o2md_catalog_version AS clv
        JOIN o2md_catalog AS cl ON clv.catalog_id = cl.catalog_id and cl.tenant_id = #{tenantId}
        left JOIN o2md_catalog_version_tl AS clvtl ON clv.catalog_version_id = clvtl.catalog_version_id AND clvtl.lang = #{lang} and clvtl.tenant_id = #{tenantId}
        left JOIN o2md_catalog_tl AS cltl ON cl.catalog_id = cltl.catalog_id AND cltl.lang= #{lang} and cltl.tenant_id = #{tenantId}
         <where>
             <choose>
                 <when test="tenantId != null">
                     AND clv.tenant_id = #{tenantId}
                 </when>
                 <otherwise>
                     AND 1=0
                 </otherwise>
             </choose>
             <if test="queryInner.catalogNames != null and queryInner.catalogNames.size > 0" >
                 and cl.catalog_name IN
                 <foreach collection="queryInner.catalogNames" item="name" open="(" separator="," close=")">
                     #{name}
                 </foreach>
             </if>
         </where>

    </select>
    <select id="selectByCondition" resultType="org.o2.metadata.console.infra.entity.CatalogVersion">
        select version.catalog_version_id,
               version.catalog_version_code,
               version.catalog_version_name,
               version.catalog_version_remarks,
               catalog.catalog_id,
               catalog.catalog_code,
               version.object_version_number,
               version.tenant_id,
               version.active_flag
        from o2md_catalog_version version
        inner join o2md_catalog catalog on catalog.catalog_id = version.catalog_id and  catalog.tenant_id = #{tenantId}
        <where>
            <choose>
                <when test="tenantId != null">
                    AND version.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1=0
                </otherwise>
            </choose>
            <if test="catalogCodes != null and catalogCodes.size > 0" >
                and catalog.catalog_code IN
                <foreach collection="catalogCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
