<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.FreightTemplateMapper">
    <resultMap id="freightTemplateResultMap" type="org.o2.metadata.console.infra.entity.FreightTemplate">
        <id column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="template_code" property="templateCode" jdbcType="VARCHAR"/>
        <result column="template_name" property="templateName" jdbcType="VARCHAR"/>
        <result column="delivery_free_flag" property="deliveryFreeFlag" jdbcType="DECIMAL"/>
        <result column="valuation_type" property="valuationType" jdbcType="VARCHAR"/>
        <result column="valuation_uom" property="valuationUom" jdbcType="VARCHAR"/>
        <result column="uom_type_name" property="valuationTypeMeaning" jdbcType="VARCHAR"/>
        <result column="uom_name" property="valuationUomMeaning" jdbcType="VARCHAR"/>
        <result column="dafault_flag" property="dafaultFlag" jdbcType="DECIMAL"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="freightTemplateVOResultMap" type="org.o2.metadata.console.api.vo.FreightTemplateManagementVO">
        <id column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="template_code" property="templateCode" jdbcType="VARCHAR"/>
        <result column="template_name" property="templateName" jdbcType="VARCHAR"/>
        <result column="delivery_free_flag" property="deliveryFreeFlag" jdbcType="DECIMAL"/>
        <result column="valuation_type" property="valuationType" jdbcType="VARCHAR"/>
        <result column="valuation_uom" property="valuationUom" jdbcType="VARCHAR"/>
        <result column="uom_type_name" property="valuationTypeMeaning" jdbcType="VARCHAR"/>
        <result column="uom_name" property="valuationUomMeaning" jdbcType="VARCHAR"/>
        <result column="dafault_flag" property="dafaultFlag" jdbcType="DECIMAL"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listFreightTemplates" resultMap="freightTemplateResultMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        <bind name="tenantId" value="@org.hzero.mybatis.helper.TenantLimitedHelper@tenantId()" />

        SELECT oft.template_id,
        oft.template_code,
        oft.template_name,
        oft.delivery_free_flag,
        oft.valuation_type,
        oft.valuation_uom,
        oft.dafault_flag,
        oft.tenant_id,
        oft.active_flag,
        oft.object_version_number,
        oft.creation_date,
        oft.created_by,
        oft.last_updated_by,
        oft.last_update_date
        FROM o2md_freight_template oft
        <where>
            <choose>
                <when test="tenantId != null">
                    AND oft.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 =0
                </otherwise>
            </choose>
            <if test="templateId!=null and templateId!=''">
                AND oft.template_id LIKE #{templateId}
            </if>
            <if test="templateCode!=null and templateCode!=''">
                <bind name="templateCodeLike" value="'%' + templateCode + '%'"/>
                AND oft.template_code LIKE #{templateCodeLike}
            </if>
            <if test="templateName!=null and templateName!=''">
                <bind name="templateNameLike" value="'%' + templateName + '%'"/>
                AND oft.template_name LIKE #{templateNameLike}
            </if>
            <if test="deliveryFreeFlag!=null">
                AND oft.delivery_free_flag = #{deliveryFreeFlag}
            </if>
            <if test="valuationType!=null and valuationType!=''">
                AND oft.valuation_type = #{valuationType}
            </if>
            <if test="valuationUom!=null and valuationUom!=''">
                AND oft.valuation_uom = #{valuationUom}
            </if>
            <if test="activeFlag!=null">
                AND oft.ACTIVE_FLAG = #{activeFlag}
            </if>
            <if test="dafaultFlag!=null">
                AND oft.dafault_flag = #{dafaultFlag}
            </if>

        </where>
        ORDER BY oft.template_code ASC
    </select>

    <select id="queryFreightTemplateById" resultMap="freightTemplateVOResultMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        <bind name="tenantId" value="@org.hzero.mybatis.helper.TenantLimitedHelper@tenantId()" />
        SELECT oft.template_id,
        oft.template_code,
        oft.template_name,
        oft.delivery_free_flag,
        oft.valuation_type,
        oft.valuation_uom,
        oft.dafault_flag,
        oft.tenant_id,
        oft.object_version_number,
        oft.creation_date,
        oft.created_by,
        oft.last_updated_by,
        oft.last_update_date
        FROM o2md_freight_template oft
        WHERE oft.template_id = #{templateId}
    </select>

    <select id="getDefaultTemplate" resultType="org.o2.metadata.console.infra.entity.FreightTemplate">
        select oft.template_id,
               oft.template_code,
               oft.template_name,
               oft.delivery_free_flag,
               oft.valuation_type,
               oft.valuation_uom,
               oft.dafault_flag,
               oft.tenant_id,
               oft.active_flag
        from o2md_freight_template oft
         where oft.dafault_flag = 1
          and oft.active_flag = 1
          and oft.tenant_id = #{tenantId}
    </select>
    <select id="selectAllByTenantId" resultType="org.o2.metadata.console.infra.entity.FreightTemplate">
        select dafault_flag,
        delivery_free_flag,
        template_code,
        template_id,
        template_name,
        tenant_id,
        valuation_type,
        valuation_uom
        from o2md_freight_template
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 =0
            </otherwise>
        </choose>
       and active_flag = 1
    </select>
</mapper>
