<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.FreightTemplateDetailMapper">
    <resultMap id="freightTemplateDetailResultMap" type="org.o2.metadata.console.infra.entity.FreightTemplateDetail">
        <id column="template_detail_id" property="templateDetailId" jdbcType="DECIMAL"/>
        <result column="region_code" property="regionCode" jdbcType="VARCHAR"/>
        <result column="region_name" property="regionName" jdbcType="VARCHAR"/>
        <result column="parent_region_name" property="parentRegionName" jdbcType="VARCHAR"/>
        <result column="transport_type_code" property="transportTypeCode" jdbcType="VARCHAR"/>
        <result column="first_piece_weight" property="firstPieceWeight" jdbcType="DECIMAL"/>
        <result column="first_price" property="firstPrice" jdbcType="DECIMAL"/>
        <result column="next_piece_weight" property="nextPieceWeight" jdbcType="DECIMAL"/>
        <result column="next_price" property="nextPrice" jdbcType="DECIMAL"/>
        <result column="default_flag" property="defaultFlag" jdbcType="DECIMAL"/>
        <result column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- SQL 要优化 都是一个SQL  -->

    <select id="queryDefaultFreightTemplateDetails" resultType="org.o2.metadata.console.infra.entity.FreightTemplateDetail">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        <bind name="tenantId" value="@org.hzero.mybatis.helper.TenantLimitedHelper@tenantId()" />
         SELECT
             oftd.template_detail_id,
             oftd.region_code,
             oftd.transport_type_code,
             oftd.first_piece_weight,
             oftd.first_price,
             oftd.next_piece_weight,
             oftd.next_price,
             oftd.default_flag,
             oftd.template_id,
             oftd.tenant_id,
             oftd.object_version_number,
             oftd.creation_date,
             oftd.created_by,
             oftd.last_updated_by,
             oftd.last_update_date
         FROM o2md_freight_tpl_detail oftd
		 WHERE    oftd.default_flag =1 and oftd.template_id= #{templateId} and   oftd.tenant_id = #{tenantId}
    </select>

    <select id="queryRegionFreightTemplateDetails" resultMap="freightTemplateDetailResultMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        <bind name="tenantId" value="@org.hzero.mybatis.helper.TenantLimitedHelper@tenantId()" />
           SELECT
             oftd.template_detail_id,
             oftd.region_code,
             oftd.transport_type_code,
             oftd.first_piece_weight,
             oftd.first_price,
             oftd.next_piece_weight,
             oftd.next_price,
             oftd.default_flag,
             oftd.template_id,
             oftd.tenant_id,
             oftd.object_version_number,
             oftd.creation_date,
             oftd.created_by,
             oftd.last_updated_by,
             oftd.last_update_date
        FROM o2md_freight_tpl_detail oftd
		 WHERE oftd.default_flag =0 and oftd.template_id= #{templateId} and   oftd.tenant_id = #{tenantId}
    </select>


    <select id="selectAllByTenantId" resultType="org.o2.metadata.console.infra.entity.FreightTemplateDetail">
        SELECT
            oftd.template_detail_id,
            oftd.region_code ,
            oftd.first_piece_weight,
            oftd.first_price,
            oftd.next_piece_weight,
            oftd.next_price,
            oftd.default_flag,
            o2mft.template_code,
            oftd.tenant_id
        FROM o2md_freight_tpl_detail oftd
        inner join o2md_freight_template o2mft  on o2mft.template_id = oftd.template_id
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND oftd.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 =0
            </otherwise>
        </choose>
    </select>

    <!-- SQL 要优化 都是一个SQL  -->

</mapper>
