<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.NeighboringRegionMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.NeighboringRegion">
        <result column="neighboring_region_id" property="neighboringRegionId" jdbcType="DECIMAL"/>
        <result column="pos_type_code" property="posTypeCode" jdbcType="VARCHAR"/>
        <result column="source_region_code" property="sourceRegionCode" jdbcType="VARCHAR"/>
        <result column="target_region_code" property="targetRegionCode" jdbcType="VARCHAR"/>
        <result column="source_region_name" property="sourceRegionName" jdbcType="VARCHAR"/>
        <result column="target_region_name" property="targetRegionName" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="findNeighboringRegions" resultMap="BaseResultMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        n.neighboring_region_id,
        n.pos_type_code,
        n.source_country_code,
        n.source_region_code
        n.target_region_code,
        n.target_country_code,
        n.OBJECT_VERSION_NUMBER
        FROM
        o2md_neighboring_region n
        WHERE
        1 = 1
        <choose>
            <when test="tenantId != null">
                and n.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        <if test="posTypeCode!=null and posTypeCode!=''">
            AND pos_type_code = #{posTypeCode}
        </if>
        <if test="sourceRegionCode!=null and sourceRegionCode!=''">
            AND source_region_code = #{sourceRegionCode}
        </if>
        <if test="targetRegionCode!=null and targetRegionCode!=''">
            AND target_region_code = #{targetRegionCode}
        </if>
    </select>
</mapper>
