<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.OnlineShopRelWarehouseMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.OnlineShopRelWarehouse">
        <result column="online_shop_rel_pos_id" property="onlineShopRelWarehouseId" jdbcType="DECIMAL"/>
        <result column="online_shop_id" property="onlineShopId" jdbcType="DECIMAL"/>
        <result column="pos_id" property="posId" jdbcType="DECIMAL"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="business_active_flag" property="businessActiveFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>


    <resultMap id="RelationshipVOMap" type="org.o2.metadata.console.api.vo.OnlineShopRelWarehouseVO">
        <result column="online_shop_rel_warehouse_id" property="onlineShopRelWarehouseId" jdbcType="DECIMAL"/>
        <result column="online_shop_id" property="onlineShopId" jdbcType="DECIMAL"/>
        <result column="pos_id" property="posId" jdbcType="DECIMAL"/>
        <result column="warehouse_id" property="warehouseId" jdbcType="DECIMAL"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="business_active_flag" property="businessActiveFlag" jdbcType="DECIMAL"/>
        <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR"/>
        <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR"/>
        <result column="warehouse_type_code" property="warehouseTypeCode" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listShopWarehouseRelsByOption" resultMap="RelationshipVOMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        w.warehouse_id,
        w.pos_id,
        w.warehouse_code,
        wt.warehouse_name,
        w.warehouse_type_code,
        w.warehouse_status_code,
        srw.object_version_number,
        srw.online_shop_id,
        srw.active_flag,
        srw.business_active_flag,
        srw.online_shop_rel_warehouse_id
        FROM
        o2md_warehouse w
        JOIN o2md_shop_rel_warehouse srw ON srw.warehouse_id = w.warehouse_id
        left join o2md_warehouse_tl wt on wt.warehouse_id = w.warehouse_id and wt.lang= #{lang}
        WHERE  srw.online_shop_id = #{onlineShopId}
        <choose>
            <when test="tenantId != null">
                and w.tenant_id = #{tenantId}
            </when>
            <otherwise>
                and 1 = 0
            </otherwise>
        </choose>
        <if test="warehouseCode != null">
            <bind name="warehouseCodeLike" value="warehouseCode + '%'"/>
            and w.warehouse_code LIKE #{warehouseCodeLike}
        </if>
        <if test="warehouseName != null">
            <bind name="warehouseNameLike" value="'%' + warehouseName + '%'"/>
            and  w.warehouse_name LIKE #{warehouseNameLike}
        </if>
        order by w.warehouse_code asc
    </select>

    <select id="queryAllShopRelWarehouseByTenantId" resultType="org.o2.metadata.console.infra.entity.OnlineShopRelWarehouse">
        SELECT
        w.warehouse_code,
        w.actived_date_to,
        s.online_shop_code,
        srw.active_flag,
        srw.business_active_flag,
        srw.tenant_id
        FROM
        o2md_shop_rel_warehouse srw
        JOIN o2md_warehouse w ON srw.warehouse_id = w.warehouse_id AND w.tenant_id = #{tenantId}
        JOIN o2md_pos p ON srw.pos_id = p.pos_id AND p.tenant_id = #{tenantId}
        JOIN o2md_online_shop s ON srw.online_shop_id = s.online_shop_id AND s.tenant_id = #{tenantId}
        <where>
            <choose>
                <when test="tenantId != null">
                    and w.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="listOnlineShopRelWarehouses"
            resultType="org.o2.metadata.console.infra.entity.OnlineShopRelWarehouse">
        SELECT
        ow.warehouse_id,
        ow.warehouse_code,
        ow.warehouse_type_code,
        ow.warehouse_status_code as warehouse_status
        FROM
        o2md_warehouse ow
        JOIN o2md_pos pos on ow.pos_id = pos.pos_id
        JOIN o2md_shop_rel_warehouse osrw ON osrw.warehouse_id = ow.warehouse_id
        JOIN o2md_online_shop os ON os.online_shop_id = osrw.online_shop_id
        WHERE
        ow.warehouse_status_code = 'NORMAL'
        AND ( pos.pos_type_code = 'WAREHOUSE' OR ( pos.pos_type_code = 'STORE' AND ow.expressed_flag = 1 ) )
        AND osrw.active_flag=1
        AND os.online_shop_code = #{onlineShopCode}
        <choose>
            <when test="tenantId != null">
                AND ow.tenant_id = #{tenantId}
                AND osrw.tenant_id = #{tenantId}
                AND os.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>
    <select id="selectByShopIdAndWareIdAndPosId" resultType="org.o2.metadata.console.infra.entity.OnlineShopRelWarehouse">
        select house.warehouse_code,
        shop.online_shop_code,
        rel.active_flag
        from o2md_shop_rel_warehouse rel
        inner join o2md_online_shop shop on shop.online_shop_id = rel.online_shop_id
        inner join o2md_warehouse house on house.warehouse_id = rel.warehouse_id
        inner join o2md_pos pos on pos.pos_id = rel.pos_id
        <where>
            <choose>
                <when test="tenantId != null">
                    and rel.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
            <if test="query !=null ">
                and
                <foreach collection="query" item="item" open="(" separator="or"  close=")">
                    (rel.online_shop_id = #{item.onlineShopId} and  rel.warehouse_id = #{item.warehouseId} and rel.pos_id = #{posId} )
                </foreach>
            </if>
        </where>
    </select>

</mapper>
