<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.OnlineShopMapper">
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.OnlineShop">
        <result column="online_shop_id" property="onlineShopId" jdbcType="DECIMAL"/>
        <result column="platform_code" property="platformCode" jdbcType="VARCHAR"/>
        <result column="online_shop_name" property="onlineShopName" jdbcType="VARCHAR"/>
        <result column="online_shop_code" property="onlineShopCode" jdbcType="VARCHAR"/>
        <result column="platform_shop_code" property="platformShopCode" jdbcType="VARCHAR"/>
        <result column="sourced_flag" property="sourcedFlag" jdbcType="DECIMAL"/>
        <result column="picked_up_flag" property="pickedUpFlag" jdbcType="DECIMAL"/>
        <result column="returned_flag" property="returnedFlag" jdbcType="DECIMAL"/>
        <result column="exchanged_flag" property="exchangedFlag" jdbcType="DECIMAL"/>
        <result column="is_default" property="isDefault" jdbcType="INTEGER"/>
        <result column="default_currency" property="defaultCurrency" jdbcType="VARCHAR"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="enable_split_flag" property="enableSplitFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="catalog_code" property="catalogCode" jdbcType="VARCHAR"/>
        <result column="catalog_version_code" property="catalogVersionCode" jdbcType="VARCHAR"/>
    </resultMap>
    <update id="updateDefaultShop">
        update o2md_online_shop
        set is_default = 0
        where is_default = 1
          and tenant_id = #{tenantId}
    </update>

    <select id="findByCondition" resultType="org.o2.metadata.console.infra.entity.OnlineShop">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        os.online_shop_id,
        os.platform_code,
        ost.online_shop_name,
        os.online_shop_code,
        os.platform_shop_code,
        os.sourced_flag,
        os.picked_up_flag,
        os.returned_flag,
        os.exchanged_flag,
        os.active_flag,
        os.enable_split_flag,
        os.OBJECT_VERSION_NUMBER,
        os.tenant_id,
        os.default_currency,
        os.is_default,
        pftl.platform_name
        FROM
        o2md_online_shop os
        left join o2md_platform pf on pf.platform_code = os.platform_code
        left join o2md_platform_tl pftl on pf.platform_id = pftl.platform_id and  pftl.lang = #{lang} and pftl.tenant_id = #{tenantId}
        left join o2md_online_shop_tl ost on os.online_shop_id = ost.online_shop_id and ost.lang = #{lang}  and ost.tenant_id = #{tenantId}
        <where>
            <choose>
                <when test="tenantId != null">
                    AND os.tenant_id = #{tenantId}
                    and pf.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="platformCode != null">
                AND os.platform_code = #{platformCode}
            </if>
            <if test="onlineShopCode != null">
                <bind name="onlineShopCodeLike" value="'%'+onlineShopCode+'%'"/>
                AND os.online_shop_code LIKE (#{onlineShopCodeLike})
            </if>
            <if test="onlineShopName != null">
                <bind name="onlineShopNameLike" value="'%'+onlineShopName+'%'"/>
                AND os.online_shop_name LIKE #{onlineShopNameLike}
            </if>
            <if test="activeFlag != null">
                AND os.active_flag = #{activeFlag}
            </if>
            <if test="platformShopCode != null">
                <bind name="platformShopCodeLike" value="'%'+platformShopCode+'%'"/>
                AND os.platform_shop_code LIKE #{platformShopCodeLike}
            </if>
            <if test="catalogCode!=null and catalogCode!=''">
                AND os.catalog_code = #{catalogCode}
            </if>
            <if test="catalogVersionCode!=null and catalogVersionCode!=''">
                AND os.catalog_version_code = #{catalogVersionCode}
            </if>
            <if test="onlineShopId != null">
                and os.online_shop_id = #{onlineShopId}
            </if>

            <if test="onlineShopCodes != null and onlineShopCodes.size() > 0">
                and os.online_shop_code in
                <foreach collection="onlineShopCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>

            <if test="onlineShopNames != null and onlineShopNames.size() > 0">
                and
                <foreach item="name" index="index" collection="onlineShopNames" open="(" separator="or" close=")">
                    ost.online_shop_name LIKE  CONCAT('%',#{name},'%')
                </foreach>
            </if>
        </where>
        ORDER BY os.online_shop_code
    </select>


    <select id="existenceDecide" resultType="org.o2.metadata.console.infra.entity.OnlineShop">
        SELECT os.online_shop_id,
        os.platform_code,
        os.online_shop_name,
        os.online_shop_code,
        os.platform_shop_code,
        os.catalog_code
        FROM
        o2md_online_shop os
        <where>
            <choose>
                <when test="tenantId != null">
                    AND os.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="onlineShopCode!=null and onlineShopCode!=''">
                AND os.online_shop_code = #{onlineShopCode}
            </if>
            <if test="onlineShopName!=null and onlineShopName!=''">
                AND os.online_shop_name = #{onlineShopName}
            </if>
            <if test="platformShopCode!=null and platformShopCode!=''">
                AND os.platform_shop_code = #{platformShopCode}
            </if>
            <if test="catalogCode!=null and catalogCode!=''">
                AND os.catalog_code = #{catalogCode}
            </if>
            <if test="catalogVersionCode!=null and catalogVersionCode!=''">
                AND os.catalog_version_code = #{catalogVersionCode}
            </if>
        </where>
        ORDER BY os.online_shop_code
    </select>
    <select id="selectShop" resultType="org.o2.metadata.console.infra.entity.OnlineShop">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select os.online_shop_id,
        os.platform_code,
        os.online_shop_code,
        os.catalog_version_code,
        os.catalog_code,
        os.platform_shop_code,
        ost.online_shop_name,
        os.active_flag,
        plat.tenant_id,
        platl.platform_name
        from o2md_online_shop os
        inner join  o2md_platform plat on plat.platform_code = os.platform_code and plat.tenant_id = #{tenantId}
        left join o2md_platform_tl platl on plat.platform_id = platl.platform_id and platl.lang = #{lang}  and platl.tenant_id = #{tenantId}
        left join o2md_online_shop_tl ost on ost.online_shop_id = os.online_shop_id and ost.lang = #{lang} and ost.tenant_id = #{tenantId}
        <where>
            <choose>
                <when test="tenantId != null">
                    AND os.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="onlineShopCode != null">
                <bind name="onlineShopCodeLike" value="'%'+onlineShopCode+'%'"/>
                AND os.online_shop_code LIKE upper(#{onlineShopCodeLike})
            </if>
            <if test="onlineShopName!=null and onlineShopName!=''">
                <bind name="onlineShopName" value="'%' + onlineShopName + '%'"/>
                AND os.online_shop_name LIKE #{onlineShopName}
            </if>
            <if test="platformShopCode!=null and platformShopCode!=''">
                AND os.platform_shop_code = #{platformShopCode}
            </if>
            <if test="catalogCode!=null and catalogCode!=''">
                AND os.catalog_code = #{catalogCode}
            </if>
            <if test="platformCode!=null and platformCode!=''">
                AND os.platform_code = #{platformCode}
            </if>
            <if test="activeFlag!=null ">
                AND os.active_flag = #{activeFlag}
            </if>
        </where>
        ORDER BY os.online_shop_code
    </select>
    <select id="listOnlineShops" resultType="org.o2.metadata.console.infra.entity.OnlineShop">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
        tl.online_shop_name,
        online.online_shop_code,
        online.catalog_code,
        oct.catalog_name,
        online.catalog_version_code,
        ocvt.catalog_version_name,
        online.active_flag,
        online.platform_code,
        platl.platform_name,
        online.platform_shop_code,
        online.picked_up_flag,
        online.returned_flag,
        online.exchanged_flag,
        online.enable_split_flag,
        online.sourced_flag,
        online.is_default
        from o2md_online_shop online
        inner join o2md_catalog oc on online.catalog_code = oc.catalog_code AND oc.tenant_id = #{tenantId}
        inner join o2md_catalog_version ocv on ocv.catalog_version_code = online.catalog_version_code AND ocv.tenant_id = #{tenantId} and  oc.catalog_id = ocv.catalog_id
        left join  o2md_platform plat on plat.platform_code = online.platform_code and plat.tenant_id = #{tenantId}
        left join o2md_platform_tl platl on plat.platform_id = platl.platform_id and platl.lang = #{lang}  and platl.tenant_id = #{tenantId}
        left join o2md_online_shop_tl tl on online.online_shop_id = tl.online_shop_id and tl.lang = #{lang}  and tl.tenant_id = #{tenantId}
        left join o2md_catalog_tl oct on oct.catalog_id = oc.catalog_id and oct.lang = #{lang}  and oct.tenant_id = #{tenantId}
        left join o2md_catalog_version_tl ocvt on ocvt.catalog_version_id = ocv.catalog_version_id and ocvt.lang = #{lang} and ocvt.tenant_id = #{tenantId}
        <where>
            <choose>
                <when test="tenantId != null">
                    AND online.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 =0
                </otherwise>
            </choose>
            <if test="onlineShopDTO.onlineShopCodes != null and onlineShopDTO.onlineShopCodes.size > 0">
                and online.online_shop_code in
                <foreach collection="onlineShopDTO.onlineShopCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            <if test="onlineShopDTO.platformShopCodes != null and onlineShopDTO.platformShopCodes.size > 0">
                and online.platform_shop_code in
                <foreach collection="onlineShopDTO.platformShopCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            <if test="onlineShopDTO.platformCode != null">
                and online.platform_code = #{onlineShopDTO.platformCode}
            </if>
            <if test="onlineShopDTO.onlineShopNames != null and onlineShopDTO.onlineShopNames.size() > 0">
                and
                <foreach item="name" index="index" collection="onlineShopDTO.onlineShopNames" open="(" separator="or" close=")">
                    online.online_shop_name LIKE  CONCAT('%',#{name},'%')
                </foreach>
            </if>
        </where>
    </select>
    <select id="listOnlineShopByCatalogCodes" resultType="org.o2.metadata.console.infra.entity.OnlineShop">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select online.online_shop_id,
        online.platform_code,
        tl.online_shop_name,
        online.online_shop_code,
        online.catalog_code,
        online.catalog_version_code,
        online.active_flag
        from o2md_online_shop online
        left join o2md_online_shop_tl tl on online.online_shop_id = tl.online_shop_id  and tl.tenant_id = #{tenantId} AND tl.lang =#{lang}
        <where>
            <choose>
                <when test="tenantId != null">
                    AND online.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 =0
                </otherwise>
            </choose>
            <if test="onlineShopCatalogVersions != null and onlineShopCatalogVersions.size() > 0">
                and online.catalog_code in
                <foreach collection="onlineShopCatalogVersions" item="item" open="(" separator="," close=")">
                    #{item.catalogCode}
                </foreach>
                and online.catalog_version_code in
                <foreach collection="onlineShopCatalogVersions" item="item" open="(" separator="," close=")">
                    #{item.catalogVersionCode}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
