<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.PlatformInfoMappingMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.PlatformInfoMapping">
        <result column="platform_inf_mapping_id" property="platformInfMappingId" jdbcType="DECIMAL"/>
        <result column="inf_type_code" property="infTypeCode" jdbcType="VARCHAR"/>
        <result column="platform_code" property="platformCode" jdbcType="VARCHAR"/>
        <result column="inf_code" property="infCode" jdbcType="VARCHAR"/>
        <result column="inf_name" property="infName" jdbcType="VARCHAR"/>
        <result column="platform_inf_code" property="platformInfCode" jdbcType="VARCHAR"/>
        <result column="platform_inf_name" property="platformInfName" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>

    <select id="listInfMapping" resultType="org.o2.metadata.console.infra.entity.PlatformInfoMapping">
        select
        inf.platform_inf_mapping_id,
        inf.inf_type_code,
        inf.platform_code,
        inf.inf_code,
        inf.inf_name,
        inf.platform_inf_code,
        inf.platform_inf_name,
        inf.tenant_id,
        inf.object_version_number,
        pf.platform_name
        from o2md_platform_info_mapping inf
        left join o2md_platform pf on pf.platform_code = inf.platform_code
        <where>
            <choose>
                <when test="tenantId != null">
                    AND inf.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="platformCode != null and platformCode != ''">
                and inf.platform_code = #{platformCode}
            </if>
            <if test="infTypeCode != null and infTypeCode != ''">
                and inf.inf_type_code = #{infTypeCode}
            </if>
            <if test="infName != null and infName != ''">
                <bind name="infName" value="'%'+infName+'%'"/>
                and inf.inf_name like #{infName}
            </if>
            <if test="platformInfCode != null and platformInfCode!= ''">
                and platform_inf_code = #{platformInfCode}
            </if>
            <if test="platformName != null and platformName != ''">
                <bind name="platformName" value="'%'+platformName+'%'"/>
                and pf.platform_name like #{platformName}
            </if>
            <if test="platformInfName != null and platformInfName != ''">
                <bind name="platformInfName" value="'%'+platformInfName+'%'"/>
                and inf.platform_inf_name like #{platformInfName}
            </if>
        </where>
    </select>
    <select id="selectById" resultType="org.o2.metadata.console.infra.entity.PlatformInfoMapping">
        select
            inf.platform_inf_mapping_id,
            inf.inf_type_code,
            inf.platform_code,
            inf.inf_code,
            inf.inf_name,
            inf.platform_inf_code,
            inf.platform_inf_name,
            inf.tenant_id,
            inf.object_version_number,
            inf.created_by,
            inf.last_updated_by,
            inf.creation_date,
            inf.last_update_date,
            pf.platform_name
        from o2md_platform_info_mapping inf
        left join o2md_platform pf on pf.platform_code = inf.platform_code
        where inf.platform_inf_mapping_id = #{id}
    </select>
    <select id="selectOneMapping" resultType="org.o2.metadata.console.infra.entity.PlatformInfoMapping">
        select
        inf.platform_inf_mapping_id,
        inf.inf_type_code,
        inf.platform_code,
        inf.inf_code,
        inf.inf_name,
        inf.platform_inf_code,
        inf.platform_inf_name,
        inf.tenant_id,
        inf.object_version_number,
        pf.platform_name
        from o2md_platform_info_mapping inf
        left join o2md_platform pf on pf.platform_code = inf.platform_code
        <where>
            <choose>
                <when test="tenantId != null">
                    AND inf.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="platformCode != null and platformCode != ''">
                and inf.platform_code = #{platformCode}
            </if>
            <if test="infTypeCode != null and infTypeCode != ''">
                and inf.inf_type_code = #{infTypeCode}
            </if>
            <if test="platformInfCode != null and platformInfCode != ''">
                and platform_inf_code = #{platformInfCode}
            </if>
        </where>
    </select>
    <select id="selectCondition" resultType="org.o2.metadata.console.infra.entity.PlatformInfoMapping">
        select
        inf.inf_type_code,
        inf.platform_code,
        inf.inf_code,
        inf.inf_name,
        inf.platform_inf_code,
        inf.platform_inf_name,
        inf.tenant_id,
        pf.platform_name
        from o2md_platform_info_mapping inf
        left join o2md_platform pf on pf.platform_code = inf.platform_code
        <where>
            <choose>
                <when test="tenantId != null">
                    AND inf.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="platformCodes != null and platformCodes.size() > 0">
                and inf.platform_code in
                <foreach collection="platformCodes" item="item" open="(" separator="or" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
