<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.PosAddressMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.PosAddress">
        <result column="pos_address_id" property="posAddressId" jdbcType="DECIMAL"/>
        <result column="country_code" property="countryCode" jdbcType="VARCHAR"/>
        <result column="region_code" property="regionCode" jdbcType="VARCHAR"/>
        <result column="city_code" property="cityCode" jdbcType="VARCHAR"/>
        <result column="district_code" property="districtCode" jdbcType="VARCHAR"/>
        <result column="street_name" property="streetName" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="postcode" property="postcode" jdbcType="VARCHAR"/>
        <result column="contact" property="contact" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" jdbcType="DECIMAL"/>
        <result column="latitude" property="latitude" jdbcType="DECIMAL"/>
        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="region" property="region" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>
    <select id="findDetailedAddressById" resultType="org.o2.metadata.console.infra.entity.PosAddress">
        SELECT
            da.pos_address_id,
            da.country_code,
            da.region_code,
            da.city_code,
            da.district_code,
            da.street_name,
            da.phone_number,
            da.postcode,
            da.contact,
            da.mobile_phone,
            da.OBJECT_VERSION_NUMBER,
            (
                SELECT
                    t.country_name
                FROM
                    hpfm_country t
                WHERE
                    t.country_code = da.country_code and t.tenant_id = #{tenantId}
            ) AS country,
            (
                SELECT
                    t.region_name
                FROM
                    hpfm_region t
                WHERE
                    t.region_code = da.region_code and t.tenant_id = #{tenantId}
            ) AS region,
            (
                SELECT
                    t.region_name
                FROM
                    hpfm_region t
                WHERE
                    t.region_code = da.city_code and t.tenant_id = #{tenantId}
            ) AS city,
            (
                SELECT
                    t.region_name
                FROM
                    hpfm_region t
                WHERE
                    t.region_code = da.district_code and t.tenant_id = #{tenantId}
            ) AS district
        FROM
            o2md_pos_address da
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND da.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
           and  da.pos_address_id = #{posAddressId}
    </select>
    <select id="listPosAddress" resultType="org.o2.metadata.console.infra.entity.PosAddress">
        SELECT

        address.pos_address_id,
        address.country_code,
        address.region_code,
        address.city_code,
        address.district_code,
        address.street_name,
        address.phone_number,
        pos.pos_code as postcode,
        address.contact,
        address.mobile_phone,
        address.longitude,
        address.latitude
        FROM
        o2md_pos_address address
        inner join o2md_pos pos on pos.address_id = address.pos_address_id
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND address.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 =0
            </otherwise>
        </choose>
        <if test="posAddressDTO.posCodes != null and posAddressDTO.posCodes.size > 0" >
            and pos.pos_code IN
            <foreach collection="posAddressDTO.posCodes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
     </select>
</mapper>
