<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.RegionRelPosMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.RegionRelPos">
        <result column="region_rel_pos_id" property="regionRelPosId" jdbcType="DECIMAL"/>
        <result column="online_shop_id" property="onlineShopId" jdbcType="DECIMAL"/>
        <result column="area_code" property="areaCode" jdbcType="VARCHAR"/>
        <result column="region_id" property="regionId" jdbcType="DECIMAL"/>
        <result column="region_description" property="regionDescription" jdbcType="VARCHAR"/>
        <result column="pos_id" property="posId" jdbcType="DECIMAL"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="priority" property="priority" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="pos_name" property="posName" jdbcType="VARCHAR"/>
        <result column="pos_code" property="posCode" jdbcType="VARCHAR"/>
        <result column="pos_type_code" property="posType" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectByStoreId" resultMap="BaseResultMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT DISTINCT
        rrp.online_shop_id,
        rrp.region_id,
        rrp_tl.region_description,
        <if test="regionId != null">
            rrp.region_rel_pos_id,
            rrp.pos_id,
            pos.pos_name,
            pos.pos_code,
            pos.pos_type_code,
            rrp.active_flag,
            rrp.priority,
            rrp.object_version_number,
        </if>
        rrp.area_code
        FROM o2md_region_rel_pos rrp
        LEFT JOIN o2md_region_rel_pos_tl rrp_tl ON rrp_tl.region_rel_pos_id=rrp.region_rel_pos_id AND rrp_tl.lang =
        #{lang}
        <if test="regionId != null">
            LEFT JOIN o2md_pos pos ON rrp.pos_id = pos.pos_id
            LEFT JOIN o2md_pos_tl pos_tl ON pos_tl.pos_id = pos.pos_id AND rrp_tl.lang = #{lang}
        </if>
        <where>
            <if test="onlineShopId != null">
                AND rrp.online_shop_id = #{onlineShopId}
            </if>
            <if test="regionId != null">
                AND rrp.region_id = #{regionId}
                <choose>
                    <when test="tenantId != null">
                        and pos.tenant_id = #{tenantId}
                    </when>
                    <otherwise>
                        and 1 = 0
                    </otherwise>
                </choose>
            </if>
            <choose>
                <when test="tenantId != null">
                    and rrp.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
        </where>
        <if test="regionId != null">
            ORDER BY rrp.priority ASC
        </if>
    </select>

    <select id="selectUnbindRegionByStoreId" resultType="org.o2.metadata.console.infra.entity.Region">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        hr.region_id,
        hr.country_id,
        hr.region_code,
        hrt.region_name,
        hr.parent_region_id
        FROM hpfm_region hr
        left JOIN hpfm_region_tl hrt ON hrt.region_id = hr.region_id AND hrt.lang = #{lang}
        where not exists(
        select 1 from o2md_region_rel_pos rrp where rrp.region_id = hr.region_id and rrp.online_shop_id =
        #{onlineStoreId}
        <choose>
            <when test="tenantId != null">
                and rrp.tenant_id = #{tenantId}
            </when>
            <otherwise>
                and 1 = 0
            </otherwise>
        </choose>
        )
        AND hr.enabled_flag = 1
        <choose>
            <when test="tenantId != null">
                and hr.tenant_id = #{tenantId}
            </when>
            <otherwise>
                and 1 = 0
            </otherwise>
        </choose>
        order by hr.region_id
    </select>

    <select id="selectUnbindPosByRegionId" resultType="org.o2.metadata.console.infra.entity.Pos">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        p.pos_id,
        p.pos_code,
        p.pos_name,
        p.pos_status_code,
        p.pos_type_code,
        p.business_type_code
        FROM
        o2md_pos p
        where not exists(
        select 1 from o2md_region_rel_pos rrp where rrp.pos_id = p.pos_id and rrp.online_shop_id = #{onlineShopId} and
        rrp.region_id = #{regionId}
        <choose>
            <when test="tenantId != null">
                and rrp.tenant_id = #{tenantId}
            </when>
            <otherwise>
                and 1 = 0
            </otherwise>
        </choose>
        )
        <choose>
            <when test="tenantId != null">
                and p.tenant_id = #{tenantId}
            </when>
            <otherwise>
                and 1 = 0
            </otherwise>
        </choose>

        <if test="posCode != null and posCode != ''">
            <bind name="posCode" value="'%' + posCode + '%'"/>
            and p.pos_code like #{posCode}
        </if>
        <if test="posName != null and posName != ''">
            <bind name="posName" value="'%' + posName + '%'"/>
            and p.pos_name like #{posName}
        </if>
        order by p.pos_id
    </select>

</mapper>
