<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.SystemParamValueMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.domain.entity.SystemParamValue">
        <result column="value_id" property="valueId" jdbcType="DECIMAL"/>
        <result column="param_id" property="paramId" jdbcType="DECIMAL"/>
        <result column="param_value" property="paramValue" jdbcType="VARCHAR"/>
        <result column="param1" property="param1" jdbcType="VARCHAR"/>
        <result column="param2" property="param2" jdbcType="VARCHAR"/>
        <result column="param3" property="param3" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <select id="getSysValueByParam" resultType="java.lang.String">
        SELECT osp.default_value
        FROM o2md_system_parameter osp
        <where>
            <if test="paramCode != null and paramCode != ''">
                AND osp.param_code = #{paramCode}
            </if>
            <choose>
                <when test="tenantId != null">
                    AND osp.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND osp.tenant_id = 0
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="getSysListByParam" resultType="java.lang.String">
        SELECT ospv.param_value
        FROM
        o2md_system_param_value ospv
        JOIN o2md_system_parameter osp
        ON ospv.param_id = osp.param_id
        <where>
            <if test="paramCode != null and paramCode != ''">
            AND osp.param_code = #{paramCode}
            </if>
            <choose>
                <when test="tenantId != null">
                    AND ospv.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND ospv.tenant_id = 0
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="getSysSetByParam" resultType="java.lang.String">
        SELECT ospv.param_value
        FROM
        o2md_system_param_value ospv
        JOIN o2md_system_parameter osp
        ON ospv.param_id = osp.param_id
        <where>
            <if test="paramCode != null and paramCode != ''">
                AND osp.param_code = #{paramCode}
            </if>
            <choose>
                <when test="tenantId != null">
                    AND ospv.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND ospv.tenant_id = 0
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getSysSetWithParams" resultType="org.o2.metadata.console.api.vo.SystemParamValueVO">
        SELECT
        ospv.param_value,
        ospv.param1,
        ospv.param2,
        ospv.param3
        FROM
        o2md_system_param_value ospv
        JOIN o2md_system_parameter osp ON ospv.param_id = osp.param_id AND ospv.tenant_id = osp.tenant_id
        <where>
            <choose>
                <when test="paramCode != null and paramCode != ''">
                    AND osp.param_code = #{paramCode}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <choose>
                <when test="tenantId != null">
                    AND ospv.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>
