<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.WarehouseMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.Warehouse">
        <id column="warehouse_id" property="warehouseId" jdbcType="DECIMAL"/>
        <result column="pos_id" property="posId" jdbcType="DECIMAL"/>
        <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR"/>
        <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR"/>
        <result column="warehouse_status_code" property="warehouseStatusCode" jdbcType="VARCHAR"/>
        <result column="warehouse_type_code" property="warehouseTypeCode" jdbcType="VARCHAR"/>
        <result column="pick_up_quantity" property="pickUpQuantity" jdbcType="DECIMAL"/>
        <result column="expressed_quantity" property="expressedQuantity" jdbcType="DECIMAL"/>
        <result column="picked_up_flag" property="pickedUpFlag" jdbcType="DECIMAL"/>
        <result column="expressed_flag" property="expressedFlag" jdbcType="DECIMAL"/>
        <result column="score" property="score" jdbcType="DECIMAL"/>
        <result column="actived_date_from" property="activedDateFrom" jdbcType="DATE"/>
        <result column="actived_date_to" property="activedDateTo" jdbcType="DATE"/>
        <result column="inv_organization_code" property="invOrganizationCode" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>


    <select id="getWarehouseWithCarrierNameById" resultMap="BaseResultMap">
        SELECT
        p.pos_id,
        p.pos_code,
        p.pos_name,
        p.pos_status_code,
        p.pos_type_code,
        p.business_type_code,
        p.open_date,
        p.address_id,
        p.business_time,
        p.OBJECT_VERSION_NUMBER,
        p.CREATION_DATE,
        p.CREATED_BY,
        p.LAST_UPDATED_BY,
        p.LAST_UPDATE_DATE,
        p.tenant_id
        FROM
        o2md_pos p
        where p.pos_id = #{posId}
        <choose>
            <when test="tenantId != null">
                AND p.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>

    <select id="listUnbindWarehouseList" resultMap="BaseResultMap">
        SELECT
        w.warehouse_id,
        w.pos_id,
        w.warehouse_code,
        w.warehouse_name,
        w.warehouse_type_code
        from o2md_warehouse w
        where not exists(
        select 1 from o2md_shop_rel_warehouse srw where srw.warehouse_id = w.warehouse_id and srw.online_shop_id
        = #{onlineShopId}
        )
        <choose>
            <when test="tenantId != null">
                and w.tenant_id = #{tenantId}
            </when>
            <otherwise>
                and 1 = 0
            </otherwise>
        </choose>
        <if test="warehouseCode != null">
            <bind name="warehouseCodeLike" value="warehouseCode + '%'"/>
            and w.warehouse_code LIKE #{warehouseCodeLike}
        </if>
        <if test="warehouseName != null">
            <bind name="warehouseNameLike" value="'%' + warehouseName + '%'"/>
            and w.warehouse_name LIKE #{warehouseNameLike}
        </if>
        <if test="_databaseId == 'mysql'">
            and w.actived_date_to <![CDATA[>]]> sysdate()
        </if>
        <if test="_databaseId == 'oracle'">
            and w.actived_date_to <![CDATA[>]]> sysdate
        </if>
        order by w.warehouse_code asc
    </select>

    <select id="listWarehouseByCondition" resultType="org.o2.metadata.console.infra.entity.Warehouse">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        w.warehouse_id,
        w.warehouse_code,
        wtl.warehouse_name,
        w.warehouse_type_code,
        w.warehouse_status_code,
        w.picked_up_flag,
        w.pick_up_quantity,
        w.expressed_flag,
        w.expressed_quantity,
        w.score,
        w.actived_date_from,
        w.actived_date_to,
        w.pos_id,
        p.pos_code,
        ptl.pos_name,
        w.OBJECT_VERSION_NUMBER,
        w.CREATION_DATE,
        w.CREATED_BY,
        w.LAST_UPDATED_BY,
        w.LAST_UPDATE_DATE,
        w.tenant_id
        FROM
        o2md_warehouse w
        JOIN o2md_pos p ON p.pos_id = w.pos_id AND p.tenant_id = w.tenant_id
        LEFT JOIN o2md_warehouse_tl wtl ON wtl.warehouse_id = w.warehouse_id AND wtl.lang = #{lang}
        LEFT JOIN o2md_pos_tl ptl ON ptl.pos_id = p.pos_id AND ptl.lang = #{lang}
        <where>
            AND w.active_flag = 1
            <if test="warehouseCode != null and warehouseCode != ''">
                <bind name="warehouseCodeLike" value="'%' + warehouseCode + '%'"/>
                AND w.warehouse_code LIKE #{warehouseCodeLike}
            </if>
            <if test="warehouseName != null and warehouseName != ''">
                <bind name="warehouseNameLike" value="'%' + warehouseName + '%'"/>
                AND wtl.warehouse_name LIKE #{warehouseNameLike}
            </if>
            <if test="posCode != null and posCode != ''">
                <bind name="posCodeLike" value="'%' + posCode + '%'"/>
                AND p.pos_code LIKE #{posCodeLike}
            </if>
            <if test="posName != null and posName != ''">
                <bind name="posNameLike" value="'%' + posName + '%'"/>
                AND ptl.pos_name LIKE #{posNameLike}
            </if>
            <if test="warehouseStatusCode != null and warehouseStatusCode != ''">
                AND w.warehouse_status_code = #{warehouseStatusCode}
            </if>
            <if test="warehouseTypeCode != null and warehouseTypeCode != ''">
                AND w.warehouse_type_code = #{warehouseTypeCode}
            </if>
            <choose>
                <when test="tenantId != null">
                    and w.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="queryAllWarehouseByTenantId" resultType="org.o2.metadata.console.infra.entity.Warehouse">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        w.warehouse_id,
        w.warehouse_code,
        w.warehouse_type_code,
        w.warehouse_status_code,
        w.picked_up_flag,
        w.pick_up_quantity,
        w.expressed_flag,
        w.expressed_quantity,
        w.score,
        w.actived_date_from,
        w.actived_date_to,
        w.inv_organization_code,
        p.pos_code,
        w.tenant_id,
        w.active_flag
        FROM
        o2md_warehouse w
        JOIN o2md_pos p ON p.pos_id = w.pos_id AND p.tenant_id = w.tenant_id and p.tenant_id = #{tenantId}
        <where>
            <choose>
                <when test="tenantId != null">
                    and w.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="listActiveWarehouseByShopCode" resultType="org.o2.metadata.console.infra.entity.Warehouse">

        SELECT
        ow.warehouse_id,
        ow.warehouse_code,
        ow.warehouse_type_code,
        ow.warehouse_status_code,
        ow.warehouse_name
        FROM
        o2md_warehouse ow
        JOIN o2md_pos pos on ow.pos_id = pos.pos_id
        JOIN o2md_shop_rel_warehouse osrw ON osrw.warehouse_id = ow.warehouse_id
        JOIN o2md_online_shop os ON os.online_shop_id = osrw.online_shop_id
        WHERE
        ow.warehouse_status_code = 'NORMAL'
        AND ( pos.pos_type_code = 'WAREHOUSE' OR ( pos.pos_type_code = 'STORE' AND ow.expressed_flag = 1 ) )
        AND osrw.active_flag=1
        AND os.online_shop_code = #{onlineShopCode}
        <choose>
            <when test="tenantId != null">
                AND ow.tenant_id = #{tenantId}
                AND osrw.tenant_id = #{tenantId}
                AND os.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>
    <select id="listWarehouseByCode" resultType="org.o2.metadata.console.app.bo.WarehouseCacheBO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        w.warehouse_id,
        w.warehouse_code,
        w.warehouse_type_code,
        w.warehouse_status_code,
        w.picked_up_flag,
        w.pick_up_quantity,
        w.expressed_flag,
        w.expressed_quantity,
        w.score,
        w.actived_date_from,
        w.actived_date_to,
        w.inv_organization_code,
        p.pos_code,
        w.tenant_id,
        wtl.warehouse_name,
        w.active_flag
        FROM
        o2md_warehouse w
        JOIN o2md_pos p ON p.pos_id = w.pos_id AND p.tenant_id = w.tenant_id
        LEFT JOIN o2md_warehouse_tl wtl ON wtl.warehouse_id = w.warehouse_id AND wtl.lang = #{lang}
        <where>
            <choose>
                <when test="tenantId != null">
                    and w.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
            <if test="warehouseCodes != null and warehouseCodes.size() > 0 ">
                and w.warehouse_code IN
                <foreach collection="warehouseCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
        </where>
    </select>
    <select id="listWarehouses" resultType="org.o2.metadata.console.infra.entity.Warehouse">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        w.warehouse_id,
        w.warehouse_code,
        w.warehouse_type_code,
        w.warehouse_status_code,
        w.picked_up_flag,
        w.pick_up_quantity,
        w.expressed_flag,
        w.expressed_quantity,
        w.score,
        w.actived_date_from,
        w.actived_date_to,
        w.inv_organization_code,
        p.pos_code,
        w.tenant_id,
        wtl.warehouse_name,
        w.active_flag,
        p.pos_name
        FROM
        o2md_warehouse w
        JOIN o2md_pos p ON p.pos_id = w.pos_id AND p.tenant_id = w.tenant_id
        LEFT JOIN o2md_warehouse_tl wtl ON wtl.warehouse_id = w.warehouse_id AND wtl.lang = #{lang}
        <if test="innerDTO.onlineShopCode != null">
            JOIN o2md_shop_rel_warehouse osrw ON osrw.warehouse_id = w.warehouse_id
            JOIN o2md_online_shop os ON os.online_shop_id = osrw.online_shop_id
        </if>
        <where>
            <choose>
                <when test="tenantId != null">
                    and w.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
            <if test="innerDTO.warehouseCodes != null and innerDTO.warehouseCodes.size() > 0 ">
                and w.warehouse_code IN
                <foreach collection="innerDTO.warehouseCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            <if test="innerDTO.warehouseNames != null and innerDTO.warehouseNames.size() > 0 ">
                and wtl.warehouse_name IN
                <foreach collection="innerDTO.warehouseNames" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="innerDTO.warehouseName != null and innerDTO.warehouseName != ''">
                <bind name="warehouseName" value="'%' + innerDTO.warehouseName + '%'"/>
                AND wtl.warehouse_name LIKE #{warehouseName}
            </if>
            <if test="innerDTO.warehouseTypeCode != null and innerDTO.warehouseTypeCode != ''">
                AND w.warehouse_type_code = #{innerDTO.warehouseTypeCode}
            </if>
            <if test="innerDTO.activeFlag != null">
                and w.active_flag = #{innerDTO.activeFlag}
            </if>
            <if test="innerDTO.onlineShopCode != null">
                AND os.online_shop_code = #{innerDTO.onlineShopCode}
            </if>
        </where>
    </select>
    <select id="listCarriers" resultType="org.o2.metadata.console.infra.entity.Carrier">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        c.carrier_id,
        c.carrier_code,
        ctl.carrier_name
        FROM o2md_carrier c
        JOIN o2md_pos_rel_carrier rel ON rel.carrier_id = c.carrier_id AND rel.tenant_id = c.tenant_id
        JOIN o2md_warehouse w ON w.pos_id = rel.pos_id AND w.tenant_id = c.tenant_id
        LEFT JOIN o2md_carrier_tl ctl ON ctl.carrier_id = c.carrier_id AND ctl.lang = #{lang}
        <where>
            w.warehouse_code = #{warehouseCode}
            AND c.active_flag = 1
            AND rel.active_flag = 1
            AND w.actived_date_from <![CDATA[<]]>= CURRENT_TIMESTAMP
            AND ((w.actived_date_to <![CDATA[>]]>= CURRENT_TIMESTAMP) OR (w.actived_date_to IS NULL))
            <if test="carrierCode != null and carrierCode != ''">
                <bind name="carrierCodeLike" value="'%' + carrierCode + '%'"/>
                AND c.carrier_code LIKE #{carrierCodeLike}
            </if>
            <if test="carrierName != null and carrierName != ''">
                <bind name="carrierNameLike" value="'%' + carrierName + '%'"/>
                AND ctl.carrier_name LIKE #{carrierNameLike}
            </if>
            <choose>
                <when test="tenantId != null">
                    AND c.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="listWarehouseAddr" resultType="org.o2.metadata.console.infra.entity.Warehouse">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
        w.warehouse_id,
        w.warehouse_code,
        wtl.warehouse_name,
        w.warehouse_type_code,
        w.warehouse_status_code,
        w.picked_up_flag,
        w.pick_up_quantity,
        w.expressed_flag,
        w.expressed_quantity,
        w.score,
        w.actived_date_from,
        w.actived_date_to,
        w.pos_id,
        p.pos_code,
        ptl.pos_name,
        w.tenant_id,
        addr.country_code,
        addr.region_code,
        addr.city_code,
        addr.district_code,
        addr.street_name,
        addr.contact,
        addr.mobile_phone,
        addr.phone_number
        from
        o2md_warehouse as w
        join o2md_pos as p on p.pos_id = w.pos_id and p.tenant_id = w.tenant_id
        left join o2md_warehouse_tl wtl on wtl.warehouse_id = w.warehouse_id and wtl.lang = #{lang}
        left join o2md_pos_tl ptl on ptl.pos_id = p.pos_id and ptl.lang = #{lang}
        left join o2md_pos_address addr on p.address_id = addr.pos_address_id and addr.tenant_id = #{tenantId}
        <where>
            and w.active_flag = 1
            <if test="warehouseCode != null and warehouseCode != ''">
                <bind name="warehouseCodeLike" value="'%' + warehouseCode + '%'"/>
                and w.warehouse_code like #{warehouseCodeLike}
            </if>
            <if test="warehouseName != null and warehouseName != ''">
                <bind name="warehouseNameLike" value="'%' + warehouseName + '%'"/>
                and wtl.warehouse_name like #{warehouseNameLike}
            </if>
            <if test="warehouseStatusCode != null and warehouseStatusCode != ''">
                and w.warehouse_status_code = #{warehouseStatusCode}
            </if>
            <if test="warehouseTypeCode != null and warehouseTypeCode != ''">
                and w.warehouse_type_code = #{warehouseTypeCode}
            </if>
            <choose>
                <when test="tenantId != null">
                    and w.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>
