<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.AddressMappingMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.AddressMapping">
        <result column="address_mapping_id" property="addressMappingId" jdbcType="DECIMAL"/>
        <result column="region_code" property="regionCode" jdbcType="DECIMAL"/>
        <result column="address_type_code" property="addressTypeCode" jdbcType="VARCHAR"/>
        <result column="platform_code" property="platformCode" jdbcType="VARCHAR"/>
        <result column="external_code" property="externalCode" jdbcType="VARCHAR"/>
        <result column="external_name" property="externalName" jdbcType="VARCHAR"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="findAddressMappingByCondition" resultType="org.o2.metadata.console.infra.entity.RegionTreeChild">
        SELECT
        ad.address_mapping_id,
        ad.region_code,
        ad.address_type_code,
        ad.platform_code,
        ad.external_code,
        ad.external_name,
        ad.active_flag,
        ad.tenant_id,
        ad.OBJECT_VERSION_NUMBER
        FROM
        o2md_address_mapping ad
        WHERE 1=1
        <choose>
            <when test="addressMapping.tenantId != null">
                AND ad.tenant_id = #{addressMapping.tenantId}
            </when>
            <otherwise>
                AND 1 =0
            </otherwise>
        </choose>
        <if test="addressMapping.platformCode!=null and addressMapping.platformCode!=''">
            AND ad.platform_code = #{addressMapping.platformCode}
        </if>
        <if test="addressMapping.externalName!=null and addressMapping.externalName!=''">
            AND ad.external_name LIKE concat('%',concat(#{addressMapping.externalName}),'%')
        </if>
        <if test="addressMapping.regionCodes != null and addressMapping.regionCodes.size > 0" >
            and ad.region_code IN
            <foreach collection="addressMapping.regionCodes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
    </select>

    <!--更据catalogCode和regionId查询地址匹配数量-->
    <select id="queryAddressByCondition" resultType="org.o2.metadata.console.infra.entity.AddressMapping">
        SELECT ad.address_mapping_id,
        ad.region_code,
        ad.address_type_code,
        ad.platform_code,
        ad.external_code,
        ad.external_name,
        ad.active_flag,
        ad.OBJECT_VERSION_NUMBER,
        ad.tenant_id
        FROM o2md_address_mapping ad
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND ad.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        <if test="regionCode!=null ">
            AND ad.region_code = #{regionCode}
        </if>
        <if test="platformCode!=null and platformCode!=''">
            AND ad.platform_code = #{platformCode}
        </if>
    </select>
    <select id="listAddressMapping" resultType="org.o2.metadata.console.infra.entity.RegionTreeChild">

        SELECT
        ad.address_mapping_id,
        ad.address_type_code,
        ad.platform_code,
        ad.external_code,
        ad.external_name,
        ad.active_flag,
        ad.region_code,
        ad.tenant_id,
        ad.OBJECT_VERSION_NUMBER
        FROM
        o2md_address_mapping ad
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND ad.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        <if test="regionCodes != null and regionCodes.size > 0" >
            and ad.region_code IN
            <foreach collection="regionCodes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        AND ad.platform_code=#{type}
    </select>

    <select id="listAddressMappings" resultType="org.o2.metadata.console.infra.entity.AddressMapping">
        SELECT
        ad.region_code,
        ad.address_type_code,
        ad.external_code,
        ad.external_name,
        ad.tenant_id
        FROM
        o2md_address_mapping ad
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND ad.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 =0
            </otherwise>
        </choose>
          <if test="query.addressMappingInnerList !=null ">
            and
              <foreach collection="query.addressMappingInnerList" item="item" open="(" separator="or" close=")">
                  <choose>
                      <when test="item.externalName !=null">
                          (ad.external_name LIKE concat('%',concat(#{item.externalName}),'%') and ad.address_type_code =
                          #{item.addressTypeCode} and ad.platform_code = #{item.platformCode} )
                      </when>
                      <otherwise>
                          (ad.external_code = #{item.externalCode} and ad.address_type_code = #{item.addressTypeCode}
                          and ad.platform_code = #{item.platformCode} )
                      </otherwise>
                  </choose>

              </foreach>

          </if>
        <if test="query.platformCode !=null ">
            and ad.platform_code = #{query.platformCode}
        </if>
    </select>

    <select id="queryAddress" resultType="org.o2.metadata.console.infra.entity.AddressMapping">
        SELECT
        ad.region_code,
        ad.external_name
        FROM
        o2md_address_mapping ad
        <where>
            <choose>
                <when test="tenantId != null">
                    ad.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(platformCode)">
                and ad.platform_code = #{platformCode}
            </if>
        </where>
    </select>
</mapper>
