<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.CarrierCantDeliveryMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.CarrierCantDelivery">
        <result column="carrier_cant_delivery_id" property="carrierCantDeliveryId" jdbcType="DECIMAL"/>
        <result column="carrier_code" property="carrierCode" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="country_code" property="countryCode" jdbcType="VARCHAR"/>
        <result column="region_code" property="regionCode" jdbcType="VARCHAR"/>
        <result column="city_code" property="cityCode" jdbcType="VARCHAR"/>
        <result column="district_code" property="districtCode" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="list" resultType="org.o2.metadata.console.infra.entity.CarrierCantDelivery">
         <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>

         SELECT
                rel.carrier_cant_delivery_id,
                rel.carrier_code,
                tl.carrier_name,
                rel.tenant_id,
                rel.object_version_number,
                rel.country_code,
                rel.region_code,
                rel.city_code,
                rel.district_code
        FROM o2md_carrier_cant_delivery rel
        JOIN o2md_carrier c ON rel.carrier_code = c.carrier_code  and c.tenant_id = #{tenantId}
        LEFT JOIN o2md_carrier_tl tl on  tl.carrier_id = c.carrier_id  and c.tenant_id = #{tenantId}  and tl.lang = #{lang}
         <where>
            <choose>
                <when test="tenantId != null">
                    AND rel.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 =0
                </otherwise>
            </choose>
            <if test="carrierCantDeliveryId != null">
                and rel.carrier_cant_delivery_id = #{carrierCantDeliveryId}
            </if>
            <if test="carrierCode != null and carrierCode != ''">
                and rel.carrier_code = #{carrierCode}
            </if>
        </where>
    </select>

</mapper>