<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.PosMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.Pos">
        <id column="pos_id" property="posId" jdbcType="DECIMAL"/>
        <result column="pos_code" property="posCode" jdbcType="VARCHAR"/>
        <result column="pos_name" property="posName" jdbcType="VARCHAR"/>
        <result column="pos_status_code" property="posStatusCode" jdbcType="VARCHAR"/>
        <result column="pos_type_code" property="posTypeCode" jdbcType="VARCHAR"/>
        <result column="business_type_code" property="businessTypeCode" jdbcType="VARCHAR"/>
        <result column="open_date" property="openDate" jdbcType="DATE"/>
        <result column="address_id" property="addressId" jdbcType="DECIMAL"/>
        <result column="business_time" property="businessTime" jdbcType="VARCHAR"/>
        <result column="carrier_name" property="carrierName" jdbcType="VARCHAR"/>
        <result column="platform_code" property="platformCode" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="PosResultMap" type="org.o2.metadata.console.infra.entity.Pos" extends="BaseResultMap">
        <association property="address" columnPrefix="address_"
                     resultMap="org.o2.metadata.console.infra.mapper.PosAddressMapper.BaseResultMap"/>
    </resultMap>

    <select id="listPosWithAddressByCondition" resultType="org.o2.metadata.console.infra.entity.Pos">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
        pos.tenant_id,
        pos.pos_id,
        pos.pos_code,
        post.pos_name,
        pos.pos_status_code,
        pos.pos_type_code,
        pos.OBJECT_VERSION_NUMBER,
        address.region_code,
        address.country_code,
        address.district_code,
        address.city_code,
        address.street_name,
        address.contact,
        pos.business_type_code,
        pos.platform_code,
        platformtl.platform_name
        from o2md_pos pos
        left join o2md_pos_tl post on pos.pos_id = post.pos_id and post.lang = #{lang} and post.tenant_id = #{tenantId}
        left join o2md_pos_address address on pos.address_id = address.pos_address_id and address.tenant_id = #{tenantId}
        left join o2md_platform platform on pos.platform_code = platform.platform_code and platform.tenant_id = #{tenantId}
        left join o2md_platform_tl platformtl on platform.platform_id = platformtl.platform_id and platformtl.lang = #{lang} and platformtl.tenant_id = #{tenantId}

        where 1=1
        <choose>
            <when test="tenantId != null">
                and pos.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        <if test="posCode != null and posCode != ''">
            <bind name="posCodeLike" value="'%' + posCode + '%'"/>
            and pos.pos_code like #{posCodeLike}
        </if>
        <if test="posName != null and posName != ''">
            <bind name="posNameLike" value="'%' + posName + '%'"/>
            and pos.pos_name like #{posNameLike}
        </if>
        <if test="posStatusCode != null and posStatusCode != ''">
            and pos.pos_status_code = #{posStatusCode}
        </if>
        <if test="posTypeCode != null and posTypeCode != ''">
            and pos.pos_type_code = #{posTypeCode}
        </if>
        <if test="countryCode != null and countryCode != ''">
            and address.country_code = #{countryCode}
        </if>
        <if test="regionCode != null and regionCode != ''">
            and address.region_code = #{regionCode}
        </if>

        <if test="districtCode != null and districtCode != ''">
            and address.district_code = #{districtCode}
        </if>

        <if test="platformCode != null and platformCode != ''">
            and pos.platform_code = #{platformCode}
        </if>
        order by pos.pos_code
    </select>

    <select id="listUnbindPosList" resultMap="BaseResultMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
        p.pos_id,
        p.pos_code,
        p.pos_name,
        p.pos_type_code
        from o2md_pos p
        left join o2md_pos_tl tl on tl.pos_id = p.pos_id and tl.tenant_id = #{tenantId} and tl.lang = #{lang}
        where not exists(
        select 1 from o2md_online_shop_rel_pos srp where srp.pos_id = p.pos_id and srp.online_shop_id = #{onlineShopId}
        and srp.tenant_id = #{tenantId}
        )
        <choose>
            <when test="tenantId != null">
                and p.tenant_id = #{tenantId}
            </when>
            <otherwise>
                and 1 = 0
            </otherwise>
        </choose>
        <if test="posCode != null">
            <bind name="posCodeLike" value="posCode + '%'"/>
            and p.pos_code LIKE #{posCodeLike}
        </if>
        <if test="posName != null">
            <bind name="posNameLike" value="'%' + posName + '%'"/>
            and p.pos_name LIKE #{posNameLike}
        </if>
        order by p.pos_code
    </select>
    <select id="getPosWithCarrierNameById" resultMap="BaseResultMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        p.pos_id,
        p.pos_code,
        tl.pos_name,
        p.pos_status_code,
        p.pos_type_code,
        p.business_type_code,
        p.open_date,
        p.address_id,
        p.business_time,
        p.OBJECT_VERSION_NUMBER,
        p.CREATION_DATE,
        p.CREATED_BY,
        p.LAST_UPDATED_BY,
        p.LAST_UPDATE_DATE,
        p.tenant_id,
        p.notice,
        p.platform_code,
        platformtl.platform_name
        FROM
        o2md_pos p
        left join o2md_pos_tl tl on tl.pos_id = p.pos_id and tl.lang = #{lang} and tl.tenant_id = #{tenantId}
        left join o2md_platform platform on p.platform_code = platform.platform_code and platform.tenant_id = #{tenantId}
        left join o2md_platform_tl platformtl on platform.platform_id = platformtl.platform_id and platformtl.lang = #{lang} and platformtl.tenant_id = #{tenantId}
        where p.pos_id = #{posId}
        <choose>
            <when test="tenantId != null">
                AND p.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>

    <select id="listPosByCondition" resultType="org.o2.metadata.console.infra.entity.Pos">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        ptl.pos_name,
        p.pos_id,
        p.pos_code,
        p.pos_name,
        p.pos_status_code,
        p.pos_type_code,
        p.business_type_code,
        p.open_date,
        p.address_id,
        p.business_time,
        p.tenant_id,p.object_version_number,
        p.creation_date,
        p.created_by,
        p.last_updated_by,
        p.last_update_date,
        p.notice
        FROM
        o2md_pos p
        LEFT JOIN o2md_pos_tl ptl ON ptl.pos_id = p.pos_id AND ptl.lang = #{lang} and ptl.tenant_id = #{tenantId}
        <where>
            <if test="posCode != null and posCode != ''">
                <bind name="posCodeLike" value="'%' + posCode + '%'"/>
                and p.pos_code like #{posCodeLike}
            </if>
            <if test="posName != null and posName != ''">
                <bind name="posNameLike" value="'%' + posName + '%'"/>
                and ptl.pos_name like #{posNameLike}
            </if>
            <if test="posCodes != null and posCodes.size() > 0 ">
                and p.pos_code IN
                <foreach collection="posCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            <choose>
                <when test="tenantId != null">
                    AND p.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
        </where>
        ORDER BY p.pos_code
    </select>
    
    <select id="listPosInfoByCode" resultType="org.o2.metadata.console.infra.entity.PosInfo">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
        pos.pos_id,
        pos.pos_code,
        post.pos_name,
        pos.pos_status_code,
        pos.pos_type_code,
        pos.business_type_code,
        pos.business_time,
        address.phone_number,
        address.longitude,
        address.latitude,
        address.region_code,
        address.country_code,
        address.district_code,
        address.city_code,
        address.street_name,
        ware.warehouse_code,
        ware.picked_up_flag,
        ware.pick_up_quantity
        from o2md_pos pos
        left join o2md_pos_tl post on pos.pos_id = post.pos_id and post.lang = #{lang} and post.tenant_id = #{tenantId}
        left join o2md_pos_address address on pos.address_id = address.pos_address_id and address.tenant_id = #{tenantId}
        left join o2md_warehouse ware on pos.pos_id = ware.pos_id and address.tenant_id = #{tenantId}
        <where>
            <if test="posIds != null and posIds.size() > 0">
                and pos.pos_id IN
                <foreach collection="posIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="posCodes != null and posCodes.size() > 0 ">
                and pos.pos_code IN
                <foreach collection="posCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            <if test="posTypeCode != null and posTypeCode != ''">
                and pos.pos_type_code = #{posTypeCode}
            </if>
            <choose>
                <when test="tenantId != null">
                    AND pos.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
        </where>
        order by pos.pos_code
    </select>

    <select id="listPosByCode" resultType="org.o2.metadata.console.infra.entity.Pos">
        select
            pos.pos_code,
            pos.pos_name
        from o2md_pos pos
        <where>
            <choose>
                <when test="tenantId != null">
                    AND pos.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="innerDTO.posCodes != null and innerDTO.posCodes.size > 0">
                AND pos.pos_code in
                <foreach collection="innerDTO.posCodes" open="(" separator="," close=")" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="innerDTO.posName != null and innerDTO.posName != ''">
                <bind name="posName" value="'%' + innerDTO.posName + '%'"/>
                AND pos.pos_name LIKE #{posName}
            </if>
        </where>
    </select>
</mapper>
