<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.RetryErrorLogMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.RetryErrorLog">
        <result column="error_log_id" property="errorLogId" jdbcType="DECIMAL"/>
        <result column="case_code" property="caseCode" jdbcType="VARCHAR"/>
        <result column="error_time" property="errorTime" jdbcType="DATE"/>
        <result column="error_message" property="errorMessage" jdbcType="VARCHAR"/>
        <result column="process_status" property="processStatus" jdbcType="VARCHAR"/>
        <result column="retry" property="retry" jdbcType="DECIMAL"/>
        <result column="request_body" property="requestBody" jdbcType="VARCHAR"/>
        <result column="process_time" property="processTime" jdbcType="DATE"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>


    <select id="listQueueErrorLogId" resultType="java.lang.Long">
        select
        error_log_id
        from
        o2md_retry_error_log qel
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(caseCode)">
                and qel.case_code = #{caseCode}
            </if>
            <if test="retry != null">
                and qel.retry &lt; #{retry}
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(processStatus)">
                and qel.process_status = #{processStatus}
            </if>
            <if test="tenantId != null">
                AND qel.tenant_id = #{tenantId}
            </if>
            <if test='processTotal !=null and _databaseId == "mysql" '>
                limit #{processTotal}
            </if>
            <if test='processTotal !=null and _databaseId == "oracle"'>
                rownum &lt;= #{processTotal}
            </if>
        </where>

    </select>
</mapper>