<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.SystemParameterMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.console.infra.entity.SystemParameter">
        <result column="param_id" property="paramId" jdbcType="DECIMAL"/>
        <result column="param_code" property="paramCode" jdbcType="VARCHAR"/>
        <result column="param_name" property="paramName" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="default_value" property="defaultValue" jdbcType="VARCHAR"/>
        <result column="param_type_code" property="paramTypeCode" jdbcType="VARCHAR"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <resultMap id="parameterMap" type="org.o2.metadata.console.infra.entity.SystemParameter" extends="BaseResultMap">
        <collection property="setSystemParamValue" resultMap="valueMap" columnPrefix="value_"/>
    </resultMap>
    <resultMap id="valueMap" type="org.o2.metadata.console.infra.entity.SystemParamValue">
        <result column="param_value" property="paramValue" jdbcType="VARCHAR"/>
        <result column="param_key" property="paramKey" jdbcType="VARCHAR"/>
        <result column="param1" property="param1" jdbcType="VARCHAR"/>
        <result column="param2" property="param2" jdbcType="VARCHAR"/>
        <result column="param3" property="param3" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseSql">
        ${tb}.param_id,
        ${tb}.param_code,
        ${tb}.param_name,
        ${tb}.remark,
        ${tb}.default_value,
        ${tb}.param_type_code,
        ${tb}.active_flag,
        ${tb}.tenant_id,
        ${tb}.object_version_number,
        ${tb}.creation_date,
        ${tb}.created_by,
        ${tb}.last_updated_by,
        ${tb}.last_update_date
    </sql>

    <select id="fuzzyQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseSql">
            <property name="tb" value="osp"/>
        </include>
        FROM
        o2md_system_parameter osp
        <where>
            <if test="systemParameter.paramCode != null and systemParameter.paramCode != ''">
                <bind name="paramCodeLike" value="'%' + systemParameter.paramCode + '%'"/>
                AND osp.param_code LIKE #{paramCodeLike}
            </if>
            <if test="systemParameter.paramName != null and systemParameter.paramName != ''">
                <bind name="paramNameLike" value="'%' + systemParameter.paramName + '%'"/>
                AND osp.param_name LIKE #{paramNameLike}
            </if>
            <if test="systemParameter.paramTypeCode != null and systemParameter.paramTypeCode != ''">
                AND osp.param_type_code = #{systemParameter.paramTypeCode}
            </if>
            <if test="systemParameter.activeFlag != null">
                AND osp.active_flag = #{systemParameter.activeFlag}
            </if>
            <choose>
                <when test="tenantId != null">
                    AND osp.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="queryInitData" resultMap="parameterMap">
        select param.param_code,
        param.param_type_code,
        param.default_value,
        param.param_name,
        va.param_value as value_param_value,
        va.param_key as value_param_key,
        va.param1 as value_param1,
        va.param2 as value_param2,
        va.param3 as value_param3
        from o2md_system_parameter param
        left join o2md_system_param_value va on param.param_id = va.param_id and va.tenant_id = #{tenantId}
        where 1=1 and param.active_flag =1
        <choose>
            <when test="tenantId != null">
                AND param.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>
</mapper>
