<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.core.infra.mapper.AddressMappingMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.core.domain.entity.AddressMapping">
        <result column="address_mapping_id" property="addressMappingId" jdbcType="DECIMAL"/>
        <result column="region_id" property="regionId" jdbcType="DECIMAL"/>
        <result column="address_type_code" property="addressTypeCode" jdbcType="VARCHAR"/>
        <result column="catalog_code" property="catalogCode" jdbcType="VARCHAR"/>
        <result column="external_code" property="externalCode" jdbcType="VARCHAR"/>
        <result column="external_name" property="externalName" jdbcType="VARCHAR"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="findAddressMappingByCondition" resultType="org.o2.metadata.core.domain.vo.RegionTreeChildVO">
        SELECT
        ad.address_mapping_id,
        ad.region_id,
        ad.address_type_code,
        ad.catalog_code,
        ad.external_code,
        ad.external_name,
        ad.active_flag,
        ad.OBJECT_VERSION_NUMBER,
        hr.region_code,
        hr.region_name,
        hr.parent_region_id,
        hr.level_path
        FROM
        o2md_address_mapping ad
        left join hpfm_region hr ON ad.region_id = hr.region_id AND hr.tenant_id = #{addressMapping.tenantId}
        left join hpfm_country hc on hr.country_id = hc.country_id AND hc.tenant_id = #{addressMapping.tenantId}
        WHERE 1=1
        <choose>
            <when test="addressMapping.tenantId != null">
                AND ad.tenant_id = #{addressMapping.tenantId}
            </when>
            <otherwise>
                AND 1 =0
            </otherwise>
        </choose>
        <if test="addressMapping.catalogCode!=null and addressMapping.catalogCode!=''">
            AND ad.catalog_code = #{addressMapping.catalogCode}
        </if>
        <if test="addressMapping.externalName!=null and addressMapping.externalName!=''">
            AND ad.external_name LIKE concat('%',concat(#{addressMapping.externalName}),'%')
        </if>
        <if test="addressMapping.regionName!=null and addressMapping.regionName!=''">
            AND hr.region_name LIKE concat('%',concat(#{addressMapping.regionName}),'%')
        </if>
        <if test="countryCode!=null and countryCode!=''">
            AND hc.country_code = #{countryCode}
        </if>

    </select>
    <select id="findAddressMappingById" resultType="org.o2.metadata.core.domain.vo.RegionTreeChildVO">
        SELECT
        ad.address_mapping_id,
        ad.address_type_code,
        ad.catalog_code,
        ad.external_code,
        ad.external_name,
        ad.active_flag,
        ad.OBJECT_VERSION_NUMBER,
        c.region_id,
        c.region_code,
        c.region_name,
        c.parent_region_id
        FROM
        hpfm_region c
        LEFT JOIN o2md_address_mapping ad ON ad.region_id = c.region_id AND ad.tenant_id = #{tenantId}
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND c.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        AND c.region_id = #{id}
        AND ad.catalog_code=#{type}
    </select>
    <select id="findAddressMappingByCode" resultType="org.o2.metadata.core.domain.vo.RegionTreeChildVO">
        SELECT
        ad.address_mapping_id,
        ad.address_type_code,
        ad.catalog_code,
        ad.external_code,
        ad.external_name,
        ad.active_flag,
        ad.OBJECT_VERSION_NUMBER,
        c.region_id,
        c.region_code,
        c.region_name,
        c.parent_region_id
        FROM
        hpfm_region c
        LEFT JOIN o2md_address_mapping ad ON ad.region_id = c.region_id AND ad.tenant_id = #{tenantId}
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND c.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        AND c.region_code = #{regionCode}
    </select>

    <!--更据catalogCode和regionId查询地址匹配数量-->
    <select id="queryAddressByCondition" resultType="org.o2.metadata.core.domain.entity.AddressMapping">
        SELECT ad.address_mapping_id,
        ad.region_id,
        ad.address_type_code,
        ad.catalog_code,
        ad.external_code,
        ad.external_name,
        ad.active_flag,
        ad.OBJECT_VERSION_NUMBER,
        ad.tenant_id
        FROM o2md_address_mapping ad
        WHERE 1=1
        <choose>
            <when test="tenantId != null">
                AND ad.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND ad.tenant_id = 0
            </otherwise>
        </choose>
        <if test="regionId!=null ">
            AND ad.region_id = #{regionId}
        </if>
        <if test="catalogCode!=null and catalogCode!=''">
            AND ad.catalog_code = #{catalogCode}
        </if>
    </select>


</mapper>
