<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.core.infra.mapper.CatalogVersionMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.core.domain.entity.CatalogVersion">
        <result column="catalog_version_id" property="catalogVersionId" jdbcType="DECIMAL"/>
        <result column="catalog_version_code" property="catalogVersionCode" jdbcType="VARCHAR"/>
        <result column="catalog_version_name" property="catalogVersionName" jdbcType="VARCHAR"/>
        <result column="catalog_version_description" property="catalogVersionDescription" jdbcType="VARCHAR"/>
        <result column="catalog_id" property="catalogId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
    </resultMap>
</mapper>