<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.core.infra.mapper.FreightTemplateMapper">
    <resultMap id="freightTemplateResultMap" type="org.o2.metadata.core.domain.entity.FreightTemplate">
        <id column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="template_code" property="templateCode" jdbcType="VARCHAR"/>
        <result column="template_name" property="templateName" jdbcType="VARCHAR"/>
        <result column="delivery_free_flag" property="deliveryFreeFlag" jdbcType="DECIMAL"/>
        <result column="valuation_type" property="valuationType" jdbcType="VARCHAR"/>
        <result column="valuation_uom" property="valuationUomCode" jdbcType="VARCHAR"/>
        <result column="uom_type_name" property="valuationTypeMeaning" jdbcType="VARCHAR"/>
        <result column="uom_name" property="valuationUomMeaning" jdbcType="VARCHAR"/>
        <result column="dafault_flag" property="dafaultFlag" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="freightTemplateVOResultMap" type="org.o2.metadata.core.domain.vo.FreightTemplateVO">
        <id column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="template_code" property="templateCode" jdbcType="VARCHAR"/>
        <result column="template_name" property="templateName" jdbcType="VARCHAR"/>
        <result column="delivery_free_flag" property="deliveryFreeFlag" jdbcType="DECIMAL"/>
        <result column="valuation_type" property="valuationType" jdbcType="VARCHAR"/>
        <result column="valuation_uom" property="valuationUomCode" jdbcType="VARCHAR"/>
        <result column="uom_type_name" property="valuationTypeMeaning" jdbcType="VARCHAR"/>
        <result column="uom_name" property="valuationUomMeaning" jdbcType="VARCHAR"/>
        <result column="dafault_flag" property="dafaultFlag" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listFreightTemplates" resultMap="freightTemplateResultMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        <bind name="tenantId" value="@org.hzero.mybatis.helper.TenantLimitedHelper@tenantId()" />

        SELECT oft.template_id,
        oft.template_code,
        oft.template_name,
        oft.delivery_free_flag,
        oft.valuation_type,
        hutt.uom_type_name,
        oft.valuation_uom,
        hutl.uom_name,
        oft.dafault_flag,
        oft.object_version_number,
        oft.creation_date,
        oft.created_by,
        oft.last_updated_by,
        oft.last_update_date
        FROM o2md_freight_template oft
        LEFT JOIN hpfm_uom_type hut ON oft.valuation_type=hut.uom_type_code AND hut.enabled_flag = 1 and hut.tenant_id  = #{tenantId}
        LEFT JOIN hpfm_uom_type_tl hutt ON hut.uom_type_id=hutt.uom_type_id AND hutt.lang = #{lang}
        LEFT JOIN hpfm_uom hu ON oft.valuation_uom=hu.uom_code AND oft.valuation_type = hu.uom_type_code
                                    AND hu.enabled_flag = 1 AND hu.tenant_id  = #{tenantId}
        LEFT JOIN hpfm_uom_tl hutl ON hu.uom_id=hutl.uom_id AND hutl.lang = #{lang}
        <where>
            <if test="templateId!=null and templateId!=''">
                AND oft.template_id LIKE #{templateId}
            </if>
            <if test="templateCode!=null and templateCode!=''">
                <bind name="templateCodeLike" value="'%' + templateCode + '%'"/>
                AND oft.template_code LIKE #{templateCodeLike}
            </if>
            <if test="templateName!=null and templateName!=''">
                <bind name="templateNameLike" value="'%' + templateName + '%'"/>
                AND oft.template_name LIKE #{templateNameLike}
            </if>
            <if test="deliveryFreeFlag!=null and isFree!=''">
                AND oft.delivery_free_flag = #{deliveryFreeFlag}
            </if>
            <if test="valuationType!=null and valuationType!=''">
                AND oft.valuation_type = #{valuationType}
            </if>
            <if test="valuationUom!=null and valuationUom!=''">
                AND oft.valuation_uom = #{valuationUom}
            </if>
            <if test="tenantId!=null ">
                AND oft.tenant_id = #{tenantId}
            </if>
            <if test="enabledFlag!=null">
                AND oft.enabled_flag = #{enabledFlag}
            </if>

        </where>
        ORDER BY oft.template_code ASC
    </select>

    <select id="queryFreightTemplateById" resultMap="freightTemplateVOResultMap">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        <bind name="tenantId" value="@org.hzero.mybatis.helper.TenantLimitedHelper@tenantId()" />
        SELECT oft.template_id,
        oft.template_code,
        oft.template_name,
        oft.delivery_free_flag,
        oft.valuation_type,
        hutt.uom_type_name,
        oft.valuation_uom,
        hutl.uom_name,
        oft.dafault_flag,
        oft.object_version_number,
        oft.creation_date,
        oft.created_by,
        oft.last_updated_by,
        oft.last_update_date
        FROM o2md_freight_template oft
            LEFT JOIN hpfm_uom_type hut ON oft.valuation_type=hut.uom_type_code AND hut.enabled_flag = 1 and hut.tenant_id  = #{tenantId}
            LEFT JOIN hpfm_uom_type_tl hutt ON hut.uom_type_id=hutt.uom_type_id AND hutt.lang = #{lang}
            LEFT JOIN hpfm_uom hu ON oft.valuation_uom=hu.uom_code AND oft.valuation_type = hu.uom_type_code
            AND hu.enabled_flag = 1 AND hu.tenant_id  = #{tenantId}
            LEFT JOIN hpfm_uom_tl hutl ON hu.uom_id=hutl.uom_id AND hutl.lang = #{lang}
        WHERE oft.template_id = #{templateId}
    </select>

    <select id="freightTemplateRelateProCount" resultType="int">
        SELECT COUNT(1)
        FROM o2pcm_platform_product opp
        WHERE opp.shelf_status = 'ON'
              AND opp.shipping_template_id = #{templateId}
    </select>
</mapper>