<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.core.infra.mapper.OnlineShopRelWarehouseMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.core.domain.entity.OnlineShopRelPos">
        <result column="online_shop_rel_pos_id" property="onlineShopRelPosId" jdbcType="DECIMAL"/>
        <result column="online_shop_id" property="onlineShopId" jdbcType="DECIMAL"/>
        <result column="pos_id" property="posId" jdbcType="DECIMAL"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="business_active_flag" property="businessActiveFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="RelWithPosResultMap" type="org.o2.metadata.core.domain.entity.OnlineShopRelPos"
               extends="BaseResultMap">
        <association property="pos" columnPrefix="pos_"
                     resultMap="org.o2.metadata.core.infra.mapper.PosMapper.BaseResultMap"/>
    </resultMap>

    <resultMap id="RelationshipVOMap" type="org.o2.metadata.core.domain.vo.OnlineShopRelWarehouseVO">
        <result column="online_shop_rel_warehouse_id" property="onlineShopRelWarehouseId" jdbcType="DECIMAL"/>
        <result column="online_shop_id" property="onlineShopId" jdbcType="DECIMAL"/>
        <result column="pos_id" property="posId" jdbcType="DECIMAL"/>
        <result column="warehouse_id" property="warehouseId" jdbcType="DECIMAL"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="business_active_flag" property="businessActiveFlag" jdbcType="DECIMAL"/>
        <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR"/>
        <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR"/>
        <result column="warehouse_type_code" property="warehouseTypeCode" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listShopWarehouseRelsByOption" resultMap="RelationshipVOMap">
        SELECT
            w.warehouse_id,
            w.pos_id,
            w.warehouse_code,
            w.warehouse_name,
            w.warehouse_type_code,
            w.warehouse_status_code,
            srw.object_version_number,
            srw.online_shop_id,
            srw.active_flag,
            srw.business_active_flag,
            srw.online_shop_rel_warehouse_id
        FROM
        o2md_warehouse w
        JOIN o2md_online_shop_rel_warehouse srw ON srw.warehouse_id = w.warehouse_id
        WHERE  srw.online_shop_id = #{onlineShopId}
        <choose>
            <when test="tenantId != null">
                and w.tenant_id = #{tenantId}
            </when>
            <otherwise>
                and 1 = 0
            </otherwise>
        </choose>
        <if test="warehouseCode != null">
            <bind name="warehouseCodeLike" value="warehouseCode + '%'"/>
            and w.warehouse_code LIKE #{warehouseCodeLike}
        </if>
        <if test="warehouseName != null">
            <bind name="warehouseNameLike" value="'%' + warehouseName + '%'"/>
            and  w.warehouse_name LIKE #{warehouseNameLike}
        </if>
        order by w.warehouse_code asc
    </select>

    <select id="queryAllShopRelWarehouseByTenantId" resultMap="RelationshipVOMap">
        SELECT
        w.warehouse_code,
        w.actived_date_to,
        p.pos_code,
        s.online_shop_code,
        srw.active_flag,
        srw.business_active_flag,
        srw.tenant_id
        FROM
        o2md_online_shop_rel_warehouse srw
        JOIN o2md_warehouse w ON srw.warehouse_id = w.warehouse_id AND w.tenant_id = #{tenantId}
        JOIN o2md_pos p ON srw.pos_id = p.pos_id AND p.tenant_id = #{tenantId}
        JOIN o2md_online_shop s ON srw.online_shop_id = s.online_shop_id AND s.tenant_id = #{tenantId}
        <where>
            <choose>
                <when test="tenantId != null">
                    and w.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>
