<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.rule.engine.management.infra.mapper.O2reRuleEntityConditionMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.rule.engine.management.domain.entity.RuleEntityCondition">
        <result column="rule_entity_condition_id" property="ruleEntityConditionId" jdbcType="DECIMAL"/>
        <result column="rule_entity_id" property="ruleEntityId" jdbcType="DECIMAL"/>
        <result column="condition_code" property="conditionCode" jdbcType="VARCHAR"/>
        <result column="condition_name" property="conditionName" jdbcType="VARCHAR"/>
        <result column="condition_code_alias" property="conditionCodeAlias" jdbcType="VARCHAR"/>
        <result column="component_code" property="componentCode" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="enable_flag" property="enableFlag" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="RuleConditionWithParams" type="org.o2.rule.engine.management.domain.entity.RuleEntityCondition"
               extends="BaseResultMap">
        <collection property="ruleParams" javaType="ArrayList"
                    ofType="org.o2.rule.engine.management.domain.entity.RuleParam" notNullColumn="param_code">
            <result column="rule_param_id" property="ruleParamId" jdbcType="DECIMAL"/>
            <result column="param_rel_entity_id" property="paramRelEntityId" jdbcType="DECIMAL"/>
            <result column="param_rel_entity_type" property="paramRelEntityType" jdbcType="VARCHAR"/>
            <result column="param_code" property="paramCode" jdbcType="VARCHAR"/>
            <result column="param_name" property="paramName" jdbcType="VARCHAR"/>
            <result column="param_alias" property="paramAlias" jdbcType="VARCHAR"/>
            <result column="entry_order_seq" property="orderSeq" jdbcType="DECIMAL"/>
            <result column="param_format_code" property="paramFormatCode" jdbcType="VARCHAR"/>
            <result column="param_edit_type_code" property="paramEditTypeCode" jdbcType="VARCHAR"/>
            <result column="multi_flag" property="multiFlag" jdbcType="DECIMAL"/>
            <result column="not_null_flag" property="notNullFlag" jdbcType="DECIMAL"/>
            <result column="business_model" property="businessModel" jdbcType="VARCHAR"/>
            <result column="value_filed_from" property="valueFiledFrom" jdbcType="VARCHAR"/>
            <result column="value_filed_to" property="valueFiledTo" jdbcType="VARCHAR"/>
            <result column="enable_flag" property="enableFlag" jdbcType="DECIMAL"/>
            <result column="default_meaning" property="defaultMeaning" jdbcType="VARCHAR"/>
            <result column="validators" property="validators" jdbcType="VARCHAR"/>
            <result column="filters" property="filters" jdbcType="VARCHAR"/>
            <result column="entry_tenant_id" property="tenantId" jdbcType="DECIMAL"/>
            <result column="entry_object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        </collection>
    </resultMap>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT
        rec.rule_entity_condition_id,
        rec.rule_entity_id,
        rec.condition_code,
        rec.condition_name,
        rec.enable_flag,
        rec.order_seq,
        rec.description,
        rec.condition_code_alias,
        rec.component_code,
        rec.tenant_id,
        rec.object_version_number
        FROM
        o2re_rule_entity_condition rec
        <where>
            <choose>
                <when test="tenantId != null">
                    and rec.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="ruleEntityConditionId != null">
                and rec.rule_entity_condition_id = #{ruleEntityConditionId}
            </if>
            <if test="ruleEntityId != null">
                and rec.rule_entity_id = #{ruleEntityId}
            </if>
            <if test="conditionCode != null and conditionCode != ''">
                <bind name="conditionCodeLike" value="'%' + conditionCode + '%'"/>
                and rec.condition_code like #{conditionCodeLike}
            </if>
            <if test="conditionName != null and conditionName != ''">
                <bind name="conditionNameLike" value="'%' + conditionName + '%'"/>
                and rec.condition_name like #{conditionNameLike}
            </if>
            <if test="conditionCodeAlias != null and conditionCodeAlias != ''">
                <bind name="conditionCodeAliasLike" value="'%' + conditionCodeAlias + '%'"/>
                and rec.condition_code_alias like #{conditionCodeAliasLike}
            </if>
            <if test="componentCode != null and componentCode != ''">
                and rec.component_code = #{componentCode}
            </if>
            <if test="enableFlag != null">
                and rec.enable_flag = #{enableFlag}
            </if>
        </where>
        ORDER BY
        IF
        ( ISNULL( rec.order_seq ), 1, 0 ),
        rec.order_seq
    </select>
    <select id="selectListByRuleEntityCode"
            resultMap="RuleConditionWithParams">
        SELECT
        rec.rule_entity_condition_id,
        rec.rule_entity_id,
        rec.condition_code,
        rec.condition_name,
        rec.enable_flag,
        rec.order_seq,
        rec.description,
        rec.condition_code_alias,
        rec.component_code,
        rec.tenant_id,
        rec.object_version_number,
        rrp.rule_param_id,
        rrp.param_rel_entity_id,
        rrp.param_rel_entity_type,
        rrp.param_code,
        rrp.param_name,
        rrp.param_alias,
        rrp.order_seq as entry_order_seq,
        rrp.param_format_code,
        rrp.param_edit_type_code,
        rrp.not_null_flag,
        rrp.multi_flag,
        rrp.business_model,
        rrp.value_filed_from,
        rrp.value_filed_to,
        rrp.enable_flag,
        rrp.default_meaning,
        rrp.validators,
        rrp.filters,
        rrp.tenant_id as entry_tenant_id,
        rrp.object_version_number as entry_object_version_number
        FROM
        o2re_rule_entity_condition rec
        join o2re_rule_entity re on rec.rule_entity_id = re.rule_entity_id and rec.tenant_id = re.tenant_id
        left join o2re_rule_param rrp on rrp.param_rel_entity_id = rec.rule_entity_condition_id and rec.tenant_id =
        re.tenant_id and rrp.enable_flag = 1
        <where>
            <choose>
                <when test="tenantId != null and ruleEntityCode != null">
                    and rec.tenant_id = #{tenantId}
                    and re.rule_entity_code = #{ruleEntityCode}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="ruleEntityCondition.enableFlag != null">
                and rec.enable_flag = #{ruleEntityCondition.enableFlag}
            </if>
        </where>
        ORDER BY
        IF
        ( ISNULL( rec.order_seq ), 1, 0 ),
        rec.order_seq
    </select>

</mapper>