<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.rule.engine.management.infra.mapper.O2reRuleMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.rule.engine.management.domain.entity.Rule">
        <result column="rule_id" property="ruleId" jdbcType="DECIMAL"/>
        <result column="rule_code" property="ruleCode" jdbcType="VARCHAR"/>
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR"/>
        <result column="entity_code" property="entityCode" jdbcType="VARCHAR"/>
        <result column="rule_description" property="ruleDescription" jdbcType="VARCHAR"/>
        <result column="rule_json" property="ruleJson" jdbcType="VARCHAR"/>
        <result column="enable_flag" property="enableFlag" jdbcType="DECIMAL"/>
        <result column="start_time" property="startTime" jdbcType="DATE"/>
        <result column="end_time" property="endTime" jdbcType="DATE"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>


</mapper>