<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.console.infra.mapper.AcrossSchemaMapper">

    <select id="selectSkuByWarehouse" resultType="java.lang.String">
        SELECT
        s.sku_code
        FROM o2inv_stock_level s
        <where>
            s.warehouse_code = #{warehouseCode}
            <choose>
                <when test="tenantId != null">
                    AND w.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>