<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.business.process.management.infra.mapper.BizNodeParameterMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.business.process.management.domain.entity.BizNodeParameter">
        <result column="biz_node_parameter_id" property="bizNodeParameterId" jdbcType="DECIMAL"/>
        <result column="param_code" property="paramCode" jdbcType="VARCHAR"/>
        <result column="param_name" property="paramName" jdbcType="VARCHAR"/>
        <result column="bean_id" property="beanId" jdbcType="VARCHAR"/>
        <result column="param_format_code" property="paramFormatCode" jdbcType="VARCHAR"/>
        <result column="param_edit_type_code" property="paramEditTypeCode" jdbcType="VARCHAR"/>
        <result column="notnull_flag" property="notnullFlag" jdbcType="DECIMAL"/>
        <result column="business_model" property="businessModel" jdbcType="VARCHAR"/>
        <result column="value_filed_from" property="valueFiledFrom" jdbcType="VARCHAR"/>
        <result column="value_filed_to" property="valueFiledTo" jdbcType="VARCHAR"/>
        <result column="show_flag" property="showFlag" jdbcType="DECIMAL"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="default_value" property="defaultValue" jdbcType="VARCHAR"/>
        <result column="default_meaning" property="defaultMeaning" jdbcType="VARCHAR"/>
        <result column="parent_field" property="parentField" jdbcType="VARCHAR"/>
        <result column="default_value_type" property="defaultValueType" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>


</mapper>