<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.business.process.management.infra.mapper.BusinessNodeMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.business.process.management.domain.entity.BusinessNode">
        <result column="biz_node_id" property="bizNodeId" jdbcType="DECIMAL"/>
        <result column="bean_id" property="beanId" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="node_type" property="nodeType" jdbcType="VARCHAR"/>
        <result column="script" property="script" jdbcType="VARCHAR"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="business_type_code" property="businessTypeCode" jdbcType="VARCHAR"/>
        <result column="sub_business_type_code" property="subBusinessTypeCode" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="NodeExportResult" type="org.o2.business.process.management.api.vo.BusinessNodeExportVO" extends="BaseResultMap" >
        <collection property="nodeParamExportList" resultMap="org.o2.business.process.management.infra.mapper.BizNodeParameterMapper.BaseResultMap" columnPrefix="np_" />
    </resultMap>

    <select id="listBusinessNode" resultType="org.o2.business.process.management.api.vo.BusinessNodeVO">
        SELECT
            bn.biz_node_id,
            bn.bean_id,
            bn.description,
            bn.business_type_code,
            bn.sub_business_type_code,
            bn.enabled_flag,
            bn.tenant_id
        FROM o2bpm_business_node bn
        <where>
            <choose>
                <when test="tenantId != null">
                    AND bn.tenant_id = #{tenantId}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
            <if test="beanId != null and beanId != ''">
                AND bn.bean_id = #{beanId}
            </if>
            <if test="description != null and description != ''">
                <bind name="temp" value="description + '%'"/>
                AND bn.description like #{temp}
            </if>
            <if test="businessTypeCode != null and businessTypeCode != ''">
                AND bn.business_type_code = #{businessTypeCode}
            </if>
            <if test="subBusinessTypeCode != null and subBusinessTypeCode != ''">
                AND bn.sub_business_type_code = #{subBusinessTypeCode}
            </if>
            <if test="enabledFlag != null">
                AND bn.enabled_flag = #{enabledFlag}
            </if>
        </where>
    </select>

    <select id="listNodeForExport" resultMap="NodeExportResult">
        select
            bn.bean_id,
            bn.description,
            bn.node_type,
            bn.script,
            bn.enabled_flag,
            bn.business_type_code,
            bn.sub_business_type_code,
            np.biz_node_parameter_id np_biz_node_parameter_id,
            np.param_code np_param_code,
            np.param_name np_param_name,
            np.bean_id np_bean_id,
            np.param_format_code np_param_format_code,
            np.param_edit_type_code np_param_edit_type_code,
            np.notnull_flag np_notnull_flag,
            np.business_model np_business_model,
            np.value_filed_from np_value_filed_from,
            np.value_filed_to np_value_filed_to,
            np.show_flag np_show_flag,
            np.enabled_flag np_enabled_flag,
            np.default_value np_default_value,
            np.default_meaning np_default_meaning,
            np.parent_field np_parent_field,
            np.default_value_type np_default_value_type
        from o2bpm_business_node bn left join o2bpm_biz_node_parameter np on bn.bean_id = np.bean_id and bn.tenant_id = np.tenant_id
        <where>
            <if test="beanIds != null and beanIds.size > 0">
                and bn.bean_id in
                <foreach collection="beanIds" open="(" close=")" separator="," item="beanId">
                    #{beanId, jdbcType=VARCHAR}
                </foreach>
            </if>
        <choose>
            <when test="tenantId != null">
                AND bn.tenant_id = #{tenantId}
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        </where>
    </select>

</mapper>