<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.ext.metadata.infra.mapper.FreightTemplateDetailMapper">
    <resultMap id="freightTemplateDetailResultMap" type="org.o2.ext.metadata.domain.entity.FreightTemplateDetail">
        <id column="template_detail_id" property="templateDetailId" jdbcType="DECIMAL"/>
        <result column="carrier_id" property="carrierId" jdbcType="DECIMAL"/>
        <result column="region_id" property="regionId" jdbcType="DECIMAL"/>
        <result column="first_piece_weight" property="firstPieceWeight" jdbcType="DECIMAL"/>
        <result column="first_price" property="firstPrice" jdbcType="DECIMAL"/>
        <result column="next_piece_weight" property="nextPieceWeight" jdbcType="DECIMAL"/>
        <result column="next_price" property="nextPrice" jdbcType="DECIMAL"/>
        <result column="template_id" property="templateId" jdbcType="DECIMAL"/>
        <result column="carrier_name" property="carrierName" jdbcType="VARCHAR"/>
        <result column="carrier_type_code" property="carrierTypeCode" jdbcType="VARCHAR"/>
        <result column="region_name" property="regionName" jdbcType="VARCHAR"/>
        <result column="is_default" property="isDefault" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryDefaultFreightTemplateDetails" resultMap="freightTemplateDetailResultMap">
        SELECT oftd.template_detail_id,
             oftd.carrier_id,
             oc.carrier_name carrier_name,
             oc.carrier_type_code carrier_type_code,
             oftd.region_id,
             oftd.first_piece_weight,
             oftd.first_price,
             oftd.next_piece_weight,
             oftd.next_price,
             oftd.template_id,
             oftd.is_default,
             oftd.object_version_number,
             oftd.creation_date,
             oftd.created_by,
             oftd.last_updated_by,
             oftd.last_update_date
        FROM o2md_freight_template_detail oftd
             LEFT JOIN o2md_carrier oc ON oftd.carrier_id=oc.carrier_id
        WHERE oftd.region_id IS NULL
        AND oftd.template_id= #{templateId}
    </select>

    <select id="queryRegionFreightTemplateDetails" resultMap="freightTemplateDetailResultMap">
        SELECT oftd.template_detail_id,
             oftd.carrier_id,
             oc.carrier_name carrier_name,
             oc.carrier_type_code carrier_type_code,
             oftd.region_id,
             ore.region_name region_name,
             oftd.first_piece_weight,
             oftd.first_price,
             oftd.next_piece_weight,
             oftd.next_price,
             oftd.template_id,
             oftd.is_default,
             oftd.object_version_number,
             oftd.creation_date,
             oftd.created_by,
             oftd.last_updated_by,
             oftd.last_update_date
        FROM o2md_freight_template_detail oftd
             LEFT JOIN o2md_carrier oc ON oftd.carrier_id=oc.carrier_id
             LEFT JOIN o2md_region ore ON oftd.region_id=ore.region_id
        WHERE oftd.region_id IS NOT NULL
        AND oftd.template_id= #{templateId}
    </select>

    <select id="queryFreightTemplateDetailByTemplateId" resultMap="freightTemplateDetailResultMap">
        SELECT oftd.template_detail_id,
             oftd.carrier_id,
             oftd.region_id,
             oftd.first_piece_weight,
             oftd.first_price,
             oftd.next_piece_weight,
             oftd.next_price,
             oftd.template_id,
             oftd.is_default,
             oftd.object_version_number,
             oftd.creation_date,
             oftd.created_by,
             oftd.last_updated_by,
             oftd.last_update_date
        FROM o2md_freight_template_detail oftd
        WHERE oftd.template_id= #{templateId}
    </select>

    <select id="queryOtherDefaultFreightTemplateDetail" resultMap="freightTemplateDetailResultMap">
        SELECT oftd.template_detail_id,
            oftd.carrier_id,
            oftd.region_id,
            oftd.first_piece_weight,
            oftd.first_price,
            oftd.next_piece_weight,
            oftd.next_price,
            oftd.template_id,
            oftd.is_default,
            oftd.object_version_number,
            oftd.creation_date,
            oftd.created_by,
            oftd.last_updated_by,
            oftd.last_update_date
        FROM o2md_freight_template_detail oftd
        WHERE oftd.region_id IS NULL
                AND oftd.is_default=1
                AND oftd.template_id=#{templateId}
                AND oftd.template_detail_id!=#{templateDetailId}
    </select>

</mapper>