<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.infra.mapper.OnlineShopRelPosMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.domain.entity.OnlineShopRelPos">
        <result column="online_shop_rel_pos_id" property="onlineShopRelPosId" jdbcType="DECIMAL"/>
        <result column="online_shop_id" property="onlineShopId" jdbcType="DECIMAL"/>
        <result column="pos_id" property="posId" jdbcType="DECIMAL"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="business_active_flag" property="businessActiveFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="RelWithPosResultMap" type="org.o2.metadata.domain.entity.OnlineShopRelPos"
               extends="BaseResultMap">
        <association property="pos" columnPrefix="pos_"
                     resultMap="org.o2.metadata.infra.mapper.PosMapper.BaseResultMap"/>
    </resultMap>

    <resultMap id="RelationshipVOMap" type="org.o2.metadata.domain.vo.OnlineShopRelPosVO">
        <result column="online_shop_rel_pos_id" property="onlineShopRelPosId" jdbcType="DECIMAL"/>
        <result column="online_shop_id" property="onlineShopId" jdbcType="DECIMAL"/>
        <result column="pos_id" property="posId" jdbcType="DECIMAL"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="pos_code" property="posCode" jdbcType="VARCHAR"/>
        <result column="pos_name" property="posName" jdbcType="VARCHAR"/>
        <result column="pos_status_code" property="posStatus" jdbcType="VARCHAR"/>
        <result column="pos_type_code" property="posType" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listShopPosRelsByOption" resultMap="RelationshipVOMap">
        select
        srp.online_shop_rel_pos_id,
        srp.online_shop_id,
        srp.pos_id,
        srp.active_flag,
        srp.OBJECT_VERSION_NUMBER,
        p.pos_code,
        p.pos_name,
        p.pos_type_code,
        p.pos_status_code,
        srp.is_inv_calculated
        from o2md_online_shop_rel_pos srp
        join o2md_pos p on srp.pos_id = p.pos_id
        <where>
            <if test="posCode != null and posCode != ''">
                <bind name="posCodeLike" value="'%' + posCode + '%'"/>
                and p.pos_code like #{posCodeLike}
            </if>
            <if test="posName != null and posName != ''">
                <bind name="posNameLike" value="'%' + posName + '%'"/>
                and p.pos_name like #{posNameLike}
            </if>
            <if test="tenantId!=null">
                AND p.tenant_id = #{tenantId}
            </if>
            AND srp.online_shop_id = #{onlineShopId}
        </where>
        order by p.pos_code asc
    </select>
</mapper>