<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.infra.mapper.OnlineShopMapper">
    <resultMap id="BaseResultMap" type="org.o2.metadata.domain.entity.OnlineShop">
        <result column="online_shop_id" property="onlineShopId" jdbcType="DECIMAL"/>
        <result column="online_shop_name" property="onlineShopName" jdbcType="VARCHAR"/>
        <result column="online_shop_code" property="onlineShopCode" jdbcType="VARCHAR"/>
        <result column="platform_shop_code" property="platformShopCode" jdbcType="VARCHAR"/>
        <result column="catalog_id" property="catalogId" jdbcType="DECIMAL"/>
        <result column="sourced_flag" property="sourcedFlag" jdbcType="DECIMAL"/>
        <result column="picked_up_flag" property="pickedUpFlag" jdbcType="DECIMAL"/>
        <result column="returned_flag" property="returnedFlag" jdbcType="DECIMAL"/>
        <result column="exchanged_flag" property="exchangedFlag" jdbcType="DECIMAL"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="enable_split_flag" property="enableSplitFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="catalog_version_id" property="catalogVersionId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="findByCondition" resultType="org.o2.metadata.domain.entity.OnlineShop">
        SELECT
        online_shop_id,
        online_shop_name,
        online_shop_code,
        platform_shop_code,
        catalog_id,
        sourced_flag,
        picked_up_flag,
        returned_flag,
        exchanged_flag,
        active_flag,
        enable_split_flag,
        OBJECT_VERSION_NUMBER,
        CREATION_DATE,
        CREATED_BY,
        LAST_UPDATED_BY,
        LAST_UPDATE_DATE
        FROM
        o2md_online_shop
        <where>
            <if test="onlineShopCode != null">
                <bind name="onlineShopCodeLike" value="'%'+onlineShopCode+'%'"/>
                AND online_shop_code LIKE #{onlineShopCodeLike}
            </if>
            <if test="onlineShopName != null">
                <bind name="onlineShopNameLike" value="'%'+onlineShopName+'%'"/>
                AND online_shop_name LIKE #{onlineShopNameLike}
            </if>
            <if test="activeFlag != null">
                AND active_flag = #{activeFlag}
            </if>
            <if test="platformShopCode != null">
                <bind name="platformShopCodeLike" value="'%'+platformShopCode+'%'"/>
                AND platform_shop_code LIKE #{platformShopCodeLike}
            </if>
            <if test="catalogId != null">
                AND catalog_id = #{catalogId}
            </if>
        </where>
        ORDER BY online_shop_code
    </select>
</mapper>