<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.o2.metadata.infra.mapper.OnlineShopInfAuthMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.o2.metadata.domain.entity.OnlineShopInfAuth">
        <result column="online_shop_inf_auth_id" property="onlineShopInfAuthId" jdbcType="DECIMAL"/>
        <result column="online_shop_id" property="onlineShopId" jdbcType="DECIMAL"/>
        <result column="online_shop_code" property="onlineShopCode" jdbcType="VARCHAR"/>
        <result column="app_url" property="appUrl" jdbcType="VARCHAR"/>
        <result column="app_key" property="appKey" jdbcType="VARCHAR"/>
        <result column="app_secret" property="appSecret" jdbcType="VARCHAR"/>
        <result column="session_key" property="sessionKey" jdbcType="VARCHAR"/>
        <result column="access_token" property="accessToken" jdbcType="VARCHAR"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>
    <select id="listOnlineShopInfAuthByOption" parameterType="org.o2.metadata.domain.entity.OnlineShopInfAuth"
            resultType="org.o2.metadata.domain.entity.OnlineShopInfAuth">
        select
        ia.online_shop_inf_auth_id as onlineShopInfAuthId,
        ia.online_shop_id as onlineShopId,
        ia.online_shop_code as onlineShopCode,
        os.online_shop_name as onlineShopName,
        ia.app_url as appUrl,
        ia.app_key as appKey,
        ia.app_secret as appSecret,
        ia.session_key as sessionKey,
        ia.access_token as accessToken,
        ia.object_version_number
        FROM o2md_online_shop_inf_auth ia
        JOIN o2md_online_shop os ON os.online_shop_id = ia.online_shop_id
        WHERE
        ia.online_shop_id = #{onlineShopId}
    </select>

    <select id="listInfAuthByOnlineShop" parameterType="org.o2.metadata.domain.entity.OnlineShop"
            resultType="org.o2.metadata.domain.entity.OnlineShopInfAuth">
        SELECT
        osia.online_shop_inf_auth_id,
        osia.online_shop_id,
        osia.online_shop_code,
        osia.app_url,
        osia.app_key,
        osia.app_secret,
        osia.session_key,
        osia.access_token,
        osia.app_account,
        osia.object_version_number,
        osia.creation_date,
        osia.created_by,
        osia.last_updated_by,
        osia.last_update_date
        FROM
        o2md_online_shop_inf_auth as osia
        JOIN o2md_online_shop as os on osia.online_shop_id = os.online_shop_id
        <where>
            1=1
            <if test="onlineShopCode!=null and onlineShopCode!=''">
                and os.online_shop_code = #{onlineShopCode}
            </if>
            <if test="catalogCode!=null and catalogCode!=''">
                and os.catalog_code = #{catalogCode}
            </if>
            <if test="onlineShopId!=null">
                and osia.online_shop_id = #{onlineShopId}
            </if>
        </where>
    </select>
</mapper>