<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.o2.metadata.infra.mapper.SysParameterMapper">
    <resultMap id="BaseResultMap" type="org.o2.metadata.domain.entity.SysParameter">
        <result column="parameter_id" property="parameterId" jdbcType="DECIMAL"/>
        <result column="parameter_code" property="parameterCode" jdbcType="VARCHAR"/>
        <result column="parameter_desc" property="parameterDesc" jdbcType="VARCHAR"/>
        <result column="parameter_value" property="parameterValue" jdbcType="VARCHAR"/>
        <result column="active_flag" property="activeFlag" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATE_BY_NAME" property="lastUpdateByName" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="listSysParameterSetting" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        sys.parameter_id,
        sys.parameter_code,
        sys.parameter_desc,
        sys.parameter_value,
        sys.active_flag,
        sys.LAST_UPDATED_BY,
        sys.LAST_UPDATE_DATE,
        sys.OBJECT_VERSION_NUMBER,
        sys.CREATION_DATE,
        sys.CREATED_BY,
        u.real_name LAST_UPDATE_BY_NAME
        FROM
        o2md_sys_parameter_setting sys
        left join iam_user u on sys.last_updated_by=u.id
        WHERE
        1=1
        <if test="parameterCode !=null ">
            <bind name="parameterCodeLike" value="'%' + parameterCode + '%'"/>
            and sys.parameter_code like #{parameterCodeLike}
        </if>
        <if test="parameterDesc !=null ">
            <bind name="parameterDescLike" value="'%' + parameterDesc + '%'"/>
            and sys.parameter_desc like #{parameterDescLike}
        </if>
        <if test="tenantId !=null ">
            and sys.tenantId = #{tenantId}
        </if>
        order by sys.parameter_code
    </select>
</mapper>